.main-auth {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;

  @include flex(center, center);

  .form-login {
    flex: 0.4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-right {
    flex: 0.6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
}
