.background-drop__right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 700px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.05) 20px 20px 20px inset,
    rgba(0, 0, 0, 0.05) 25px 35px 20px, rgba(0, 0, 0, 0.05) 25px 30px 30px,
    rgba(255, 255, 255, 1) -20px -20px 25px inset;
  border-radius: 65% 35% 68% 32% / 33% 66% 34% 67%;
  background-color: rgba(193, 224, 253, 0.7);
  transition: 2s ease-in-out;
  animation: animationBackground 10s infinite forwards reverse linear;

  @keyframes animationBackground {
    0% {
      border-radius: 65% 35% 68% 32% / 33% 66% 34% 67%;
      background-color: rgba(193, 224, 253, 0.7);
    }
    20% {
      border-radius: 31% 69% 53% 47% / 64% 31% 69% 36%;
      background-color: rgba(127, 118, 222, 0.342);
    }
    40% {
      border-radius: 48% 52% 76% 24% / 57% 61% 39% 43%;
      background-color: rgba(132, 188, 152, 0.356);
    }
    60% {
      border-radius: 81% 19% 55% 45% / 36% 60% 40% 64%;
      background-color: rgba(227, 143, 188, 0.372);
    }
    80% {
      border-radius: 50% 50% 37% 63% / 50% 40% 60% 50%;
      background-color: rgba(185, 152, 102, 0.418);
    }
    100% {
      border-radius: 65% 35% 68% 32% / 33% 66% 34% 67%;
      background-color: rgba(193, 224, 253, 0.7);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: 120px;
    left: 180px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.7;
    top: 180px;
    left: 220px;
  }
  .background-drop__image {
    width: 80%;
    height: 80%;
    position: relative;
  }
}
