.root-verifyemail {
  width: 100%;
  height: 70vh;
  @include flex(center, center);
  .main-verifyemail {
    @include flex(center, center);
    flex-direction: column;
    gap: 20px;
    width: 100%;
    .boder-icon {
      background-color: #f9f5ff;
      padding: 20px;
      border-radius: 50%;
      .border-1 {
        @include flex(center, center);
        background-color: #f4ebff;
        width: 70px;
        height: 70px;

        border-radius: 50%;
        .icon-email {
          border-radius: 50%;
        }
      }
    }

    .container-verifyemail {
      width: 100%;

      @include flex(center, center);

      div {
        gap: 10px;
        .verify-input {
          gap: 10px;
          min-width: 55px;
          height: 60px;
          font-size: 30px;
          border-radius: 10px;
          font-weight: bold;
          border-width: 3px;
        }
      }
    }
    .text-label {
      font-size: 18px;
      width: 400px;
      text-align: center;
      font-weight: 450;
    }
    .text-label-receive {
      font-size: 18px;
      text-align: center;
      font-weight: 450;
      span {
        cursor: pointer;
        font-weight: bold;

        &:hover {
          color: #7f56d9;
        }
      }
    }
    .button-submit {
      background-color: #7f56d9;
      color: white;
      font-size: 16px;
      font-weight: 450;
      text-transform: none;
      width: 300px;
      height: 45px;

      &.verify-email {
        width: unset !important;
      }
    }
    .button_back {
      background-color: transparent;
      font-size: 16px;
      font-weight: 650;
      color: rgba(0, 0, 0, 0.6);
      &:hover .back,
      &:hover .icon {
        color: #7f56d9;
      }

      .icon {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .form-veryfied {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    gap: 20px;

    .new-pass {
      @include flex(unset, center);
      width: 500px;
      margin-bottom: 10px;

      span {
        width: 200px;
        font-size: $small-size;
        font-weight: $small-weight;
      }
    }

    .border-icon-1 {
      background-color: #ecfdf3;
      padding: 20px;
      border-radius: 50%;
      .border-icon-2 {
        background-color: #d1fadf;
        padding: 20px;
        border-radius: 50%;
        .border-icon-3 {
          border: 4px solid #039855;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          @include flex(center, center);
        }
      }
    }
    .text-label {
      font-size: 18px;
      width: 400px;
      text-align: center;
      font-weight: 450;
    }
    .button-submit {
      background-color: #7f56d9;
      color: white;
      font-size: 16px;
      font-weight: 450;
      text-transform: none;
      width: 300px;
      height: 45px;

      &.verify-email {
        width: unset !important;
      }

      &.password {
        width: 200px;
        background: $liner-background;
      }
    }
    .new-pass__btn {
      @include flex(center, center);
      margin-top: 30px;
    }
  }

  .text-password {
    width: 500px;
  }
}
