.form-about-employee {
  position: relative;
  padding: 20px 0;
  width: 94.5%;
  @include flex(center, flex-start);
  .form-about__field {
    position: relative;
    @include flex(center, flex-start);
    gap: 20px;
    width: 100%;
    margin-bottom: 12px;
    .form-about__title {
      flex: 0.3;
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
      span {
        font-size: 16px;
        font-weight: $small-weight;
        color: $text-description-color;
        font-style: italic;
      }
    }
    .form-about__text {
      flex: 0.7;
      @include flex(center, flex-start);
      flex-direction: column;
      .fieldItem {
        min-width: 100%;
        @include flex(center, flex-end);
        flex-direction: column;
        gap: 10px;
        .show {
          width: unset;
          width: 100%;
          margin-left: -105px;
          @include flex(flex-start, center);
          h4 {
            color: rgba(0, 0, 0, 0.5);
          }
          .MuiButtonBase-root {
            background-color: transparent;
            width: unset;
            margin-left: 0px;
          }
        }
        textarea {
          padding: 15px 20px;
          border-radius: 5px;
          font-size: 14px;
          line-height: 22px;
          &::placeholder {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }
      .funtion {
        @include flex(center, center);
        gap: 10px;
        align-self: center;
        padding: 10px 0;
        background-color: transparent;
        a {
          color: rgba(56, 182, 140, 1);
          cursor: pointer;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          &:hover {
            color: rgba(56, 182, 140, 1);
          }
        }
      }
      .funtion-remove {
        @include flex(center, center);
        padding-bottom: 10px;
        gap: 5px;
        background-color: transparent;
        a {
          font-size: 15px;
          font-weight: 500;
          color: rgba(255, 114, 114, 1);
          cursor: pointer;
          text-align: center;
          &:hover {
            color: rgba(255, 114, 114, 1);
          }
        }
      }

      .MuiOutlinedInput-root {
        min-height: 35px;
        height: 35px;
        font-size: 13px;
        .MuiTypography-root {
          color: #000000 !important;
          font-size: 18px !important;
          font-weight: bold !important;
        }
      }
    }
    .MuiButtonBase-root {
      background-color: rgb(52, 72, 197);
      font-weight: bold;
      font-size: 13px;
      width: 110px;
      margin-left: 15px;
      display: flex;
      align-self: flex-end;
      &:disabled {
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(52, 72, 197, 0.8);
      }
      &.add {
        align-self: center;
        width: unset;
        min-width: 110px;
        background-color: transparent;
        color: rgba(56, 182, 140, 1);
        box-shadow: unset;
        font-size: 14px;
      }
      &.remove {
        align-self: flex-end;
        font-size: 14px;
        width: unset;
        min-width: 110px;
        background-color: transparent;
        color: #ff8a65;
        box-shadow: unset;
      }
    }
  }
}
