.form-login__left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 45px;
    font-weight: 800;
    color: #216fb6;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    padding-bottom: 45px;
  }

  .MuiInputBase-root {
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
    .MuiInputBase-input {
      padding: 16.5px 14px;
    }
  }

  .form-login {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;

    p.error {
      font-size: 12px;
      font-weight: $small-weight;
      color: red;
      transform: translateY(8px);
      margin-top: 7px;
    }
  }
  .form-login_email {
    width: 450px;
    height: 45px;
    font-size: 20px;
  }

  .form-login_password {
    margin-top: 20px;
    width: 450px;
    height: 40px;
    font-size: 20px;
  }
  .form-login-RememberPassword {
    display: flex;
    width: 450px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .label-Checkbox {
    font-weight: 500;
    font-size: 14px;
  }
  .label-Checkbox:hover {
    color: #216fb6;
  }
  a {
    font-weight: 500;
    color: #000;
    font-size: 14px;
  }
  a:hover {
    color: #216fb6;
  }
  .form-login-button {
    background-color: #216fb6;
  }
  .form-login-button,
  .form-login-button-google {
    margin-top: 20px;
    border-radius: 30px;
    width: 450px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
  }

  .form-login-button-google {
    background-color: #fff;
    color: #000;
    margin-top: 10px;
  }
  .form-login-bottom__text {
    text-align: center;
    width: 450px;
    margin-top: 10px;
    a {
      opacity: 0.6;
    }
  }
}
