.profile-customer {
  // background-color: rgb(255, 252, 248);
  border-radius: 10px;
  @include flex(center, center);
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .profile-header {
    @include flex(center, flex-end);
    flex-direction: column;
    gap: 30px;
    width: 100%;
    .profile-header__left {
      position: relative;
      @include flex(flex-start, flex-start);
      flex-direction: row;
      width: 100%;
      gap: 60px;

      .header-left__avatar {
        position: relative;
        @include flex(center, center);
        flex-direction: column;
        gap: 5px;
        span {
          font-weight: 600;
          font-size: 18px;
        }
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 5%;
          padding: 2px;
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            2.3em 100%,
            0 calc(100% - 2.3em)
          );
        }

        .avatar-img__upload {
          position: relative;
          width: 200px;
          height: 200px;
          .loading-upload__avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 50%;
            height: 100%;
            overflow: hidden;
            background-color: rgba($color: #343333, $alpha: 0.2);
            div {
              width: 100%;
              height: 100%;
              @include flex(center, center);
            }
          }
        }
      }
      .info-user {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        gap: 10px;
        .form-edit-info {
          @include flex(center, flex-start);
          flex-direction: column;
          gap: 10px;

          .warning-infor {
            @include flex(unset, center);
            gap: 10px;
            background-color: rgba($color: #f4bfbf, $alpha: 0.8);
            padding: 5px 10px;
            font-size: $small-size;
            font-weight: $normal-weight;
            border-radius: 4px;
            color: $title-normal-color;
          }

          .companyName {
            width: 160%;
          }
          .inline {
            @include flex(center, flex-start);
            flex-direction: row;
            gap: 30px;
            .codeFax {
              width: 150px;
            }
          }
          .lable-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 300px;
          }
          p {
            font-size: 13px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.5);
          }
          h3 {
            font-weight: 700;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.9);
            padding: 8px 0;
          }
          .MuiOutlinedInput-root {
            min-height: 35px;
            height: 35px;
            font-size: 13px;
            .MuiTypography-root {
              color: #000000 !important;
              font-size: 18px !important;
              font-weight: bold !important;
            }
          }
        }
      }
    }
    .MuiButtonBase-root {
      background-color: rgb(52, 72, 197);
      font-weight: bold;
      font-size: 13px;
      width: 120px;
      margin-bottom: 25px;
      &:disabled {
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(52, 72, 197, 0.8);
      }
    }
  }
}
