#comment {
  position: relative;
  @include flex(unset, flex-start);
  gap: 20px;
  margin-bottom: 20px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .comment-content {
    position: relative;

    h5 {
      font-size: $normal-size;
      font-weight: $normal-weight;
      color: $title-filter-color;
    }
    & > span {
      font-size: $small-size;
      color: $text-small-color;
    }
    .comment-content__star {
      @include flex(unset, center);
      margin-top: 10px;
      h5 {
        margin-left: 3px;
        margin-right: 10px;
      }
      p {
        font-size: $small-size;
        font-weight: $small-weight;
        color: $text-description-color;

        span {
          margin-right: 10px;
        }
      }
    }

    & > p {
      font-size: $normal-size;
      font-weight: $small-weight;
      color: $text-small-color;
      margin-top: 8px;
    }
  }
}
