.main .home-header .home-header__account {
  padding-bottom: 20px;
}

.main-profile {
  border-radius: 10px;
  position: relative;
  padding: 30px 0;
  // background-color: rgba(249, 249, 249, 0.9);
  #profile {
    position: relative;
    .profile-header {
      position: relative;
      border-radius: $big-radius;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      @include flex(space-between, flex-end);
      padding: 20px;
      // background-color: rgba(197, 230, 255, 0.4);
      // box-shadow: rgba(30, 40, 109, 0.1) 0px 14px 28px,
      //   rgba(30, 40, 109, 0.1) 0px 10px 10px;
      .profile-header__icon {
        position: absolute;
        top: 15px;
        right: 10px;
        background-color: rgba($color: #f0eff4a6, $alpha: 0.4);
        padding: 5px 7px;
        border-radius: 50%;
        cursor: pointer;

        &.disable {
          pointer-events: none;
          background-color: rgba($color: #585858a6, $alpha: 0.4);
        }

        svg {
          color: $white-color;
          font-size: $normal-size;
        }
      }
      .profile-header__left {
        position: relative;
        @include flex(center, flex-start);
        gap: 30px;
        min-height: 300px;
        .header-left__avatar {
          position: relative;
          img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 5%;
            padding: 2px;
            clip-path: polygon(
              0 0,
              100% 0,
              100% 100%,
              2.3em 100%,
              0 calc(100% - 2.3em)
            );
          }

          & > svg {
            position: absolute;
            bottom: 5px;
            right: -4px;
            color: $yellow-color;
          }

          .avatar-img__upload {
            position: relative;
            width: 80px;
            height: 80px;

            .loading-upload__avatar {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              border-radius: 50%;
              height: 100%;
              overflow: hidden;
              background-color: rgba($color: #343333, $alpha: 0.2);

              div {
                width: 100%;
                height: 100%;
                @include flex(center, center);
              }
            }
          }
        }
        .header-leaft__infor {
          @include flex(space-between, space-between);
          min-height: 300px;
          flex-direction: column;
          padding: 5px;
          .name {
            @include flex(space-between, center);
            flex-direction: row;
            h5 {
              @include flex(unset, center);
              color: $text-small-color;
              gap: 5px;
              margin-top: 5px;
              span {
                color: $text-small-color;
              }
            }
          }
          p {
            color: rgba(0, 0, 0, 0.8);
            font-size: 28px;
            font-weight: 500;
          }

          .des-info {
            @include flex(flex-start, center);
            .position-since {
              font-weight: $normal-weight;
              font-size: $small-size;
              color: rgba(0, 0, 0, 0.5);
            }
          }
          .introduce-yourself {
            margin-top: 15px;
            span {
              color: #000;
              font-size: $small-size;
              font-weight: 500;
            }
          }
          .post-infor__list {
            position: relative;
            @include flex(space-between, center);
            flex-wrap: wrap;
            margin-top: 10px;

            .post-infor__item {
              @include flex(center, center);
              gap: 10px;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
      .profile-header__right {
        position: relative;
        transform: translateY(-10px);

        p {
          color: red;
          font-size: $small-size;
          font-weight: $normal-weight;
          font-style: italic;
        }

        h4 {
          color: red;
          font-weight: $normal-weight;
        }
      }
    }

    .status-work {
      margin-top: 0px;
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      height: 80px;
      @include flex(center, center);

      p {
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .profile-infor {
      position: relative;
      margin-top: 30px;

      .profile-infor__header {
        @include flex(unset, center);
        margin-bottom: 20px;
        gap: 10px;
        svg {
          color: $title-filter-color;
        }
        h4 {
          font-size: 18px;
          font-weight: 500;
          color: $title-filter-color;
        }
      }

      .profile-infor__context {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 25px 40px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        transition: display 1s ease-in-out;
        gap: 20px;

        .profile-infor__content {
          position: relative;
          width: 100%;
          padding-left: 30px;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 85%;
            width: 1px;
            border-left: 1px dashed $text-description-color;
          }
          h4 {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -38px;
              transform: translateY(-50%);
              width: 18px;
              height: 18px;
              border-radius: 50%;
              overflow: hidden;
              background-color: #c5c5c5;
            }
          }
          span {
            font-weight: 500;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.9);
            margin-top: 10px;
            display: block;
          }
          ul {
            padding-left: 20px;
            margin-top: 15px;
            li {
              list-style: unset;
              color: $text-small-color;
              cursor: unset;
              font-weight: $normal-weight;
              margin-bottom: 10px;
            }
          }
        }

        .profile-context__text {
          p {
            margin-top: 5px;
            font-weight: $normal-weight;
            color: $title-filter-color;
          }
        }
      }

      .profile-infor__context.unactive {
        display: none;
      }

      .profile-infor__history,
      .profile-infor__education,
      .profile-infor__skill {
        position: relative;
        .profile-skill {
          @include flex(flex-start, center);
          padding: 10px 30px;
          flex-wrap: wrap;
          gap: 15px;
          .MuiButtonBase-root {
            margin-top: -20px;
            border-radius: $normal-radius;
            background-color: #fff;
            color: #000;
            // box-shadow: unset;
            font-size: 15px;
            padding: 6px 15px;
            font-weight: 500;
          }
        }
      }
    }
    .profile-review {
      position: relative;
      .number-star {
        font-size: $normal-size;
        font-weight: $normal-weight;
        color: $star-color;
      }
      .profile-review__header {
        position: relative;
        width: 100%;
        @include flex(unset, center);
        margin-bottom: 25px;
        gap: 10px;
        svg {
          color: $title-filter-color;
        }
        h4 {
          font-size: 18px;
          font-weight: 500;
          color: $title-filter-color;
        }
      }

      .profile-review__filter {
        padding: 0 40px;
        position: relative;
        .profile-review__star {
          @include flex(unset, center);
          gap: 10px;
          h4 {
            color: $violet-color;
            margin-right: 10px;
          }
        }
        .profile-review__button {
          margin-top: 20px;
          @include flex(unset, center);
          gap: 20px;

          .MuiButtonBase-root {
            border-radius: $normal-radius;
            background-color: $white-background;
            box-shadow: unset;
            color: $title-filter-color;
            border: 1px solid $border-color;
            font-size: $small-size;
          }
        }
        .MuiInputBase-root {
          width: 150px;
          border-radius: $big-radius;
          padding: 5px 10px;
          margin-top: 15px;
          background-color: $blue-background;
          font-size: $small-size;
          font-weight: $big-weight;
          color: $title-filter-color;
        }
      }

      .profile-review__comment {
        position: relative;
        padding: 0 40px;
        margin-top: 40px;

        .profile-panination {
          margin-top: 60px;
          margin-bottom: 30px;
          @include flex(flex-end, center);
        }
      }
    }
  }
}
