.employee-choose {
  position: relative;
  .employee-choose__header {
    font-size: $normal-size;
    font-weight: $normal-weight;
    color: $title-big-color;
    margin: 20px 0;
    height: 35px;
    @include flex(space-between, center);
    h3 {
      & > .MuiButtonBase-root {
        margin-left: 10px;
        border-radius: $normal-radius;
        font-size: $smaller-size;
        padding: 6px 15px;
        font-weight: $small-weight;
      }
    }

    .employee-choose__function {
      .function-chosse__container {
        @include flex(unset, center);
        gap: 10px;
      }
    }
  }

  .employee-choose__main {
    position: relative;
  }

  .member-chosse__pagination {
    margin: 20px 0;
    width: 100%;
    @include flex(flex-end, center);
  }
}
