.form-done {
  video {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  h4 {
    text-align: center;
    width: 100%;
    font-size: $normal-size;
    font-weight: $big-weight;
  }
  span {
    width: 100%;
    font-size: $smaller-size;
    font-weight: $text-description-color;
    width: 100%;
    @include flex(center, center);
    text-align: center;
    margin-top: 5px;
  }
}
