.form-about {
  position: relative;
  padding: 20px 0;

  .form-about__field {
    position: relative;
    width: 100%;
    @include flex(unset, flex-start);
    gap: 20px;
    width: 780px;
    margin-bottom: 12px;
    .form-about__title {
      flex: 1;
      h4 {
        font-size: $small-size;
        font-weight: $big-weight;
      }
      span {
        font-size: $smaller-size;
        font-weight: $small-weight;
        color: $text-description-color;
        font-style: italic;
      }
    }
    .form-about__text {
      flex: 1;
      // padding-bottom: 30px;
      &.upload_img {
        height: 300px;
        position: relative;
        border-radius: $normal-radius;

        img {
          width: 100%;
          height: 100%;
        }
        p {
          text-align: center;
          transform: translateY(310px);
        }
      }

      p {
        font-size: $smaller-size;
        font-weight: $small-weight;
        color: red;
        margin-top: 3px;
      }
    }
  }
}
