.home-posting {
  position: relative;
  .home-posting__header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    @include flex(unset, center);
    gap: 15px;

    .MuiButtonBase-root {
      background-color: #11315b;
      border-radius: 12px;
    }
  }
  .posting-list {
    position: relative;
    margin-top: 20px;
    .posting-list__pagination {
      @include flex(flex-end, center);
      padding-bottom: 20px;
      margin-top: 10px;
    }
  }
}
