.posting {
  position: relative;
  padding-bottom: 100px;
  margin-top: 30px;

  .posting-header {
    @include flex(unset, center);
    gap: 35px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
    h3 {
      font-size: $big-size;
      color: $violet-color;
      font-weight: $bigger-weight;
    }

    .posting-header__statis {
      @include flex(center, center);
      gap: 15px;
      .MuiButtonBase-root {
        background-color: $title-normal-color;
        border-radius: $normal-radius;
      }
      span {
        font-size: $small-size;
        color: $border-color;
      }
    }
  }

  .posting-container {
    padding: 20px 0;

    .MuiButtonBase-root {
      &.btn-jobPosting {
        padding: 12px 20px;
        background: $liner-background;
      }
    }

    .posting-filter {
      position: relative;
      @include flex(unset, center);
      gap: 20px;
      flex-wrap: wrap;

      .button-search {
        border-radius: 5px;
        background-color: rgb(27, 173, 117);
        font-weight: bold;
        height: 40px;
      }

      .posting-filter__search {
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-55%);
          left: 20px;
        }

        .MuiInputBase-root {
          border: 1px solid $border-color;
          border-radius: $big-radius;
          width: 600px;
          padding-left: 40px;
          height: 45px;
          font-size: 16px;
        }
      }

      .MuiAutocomplete-root {
        .MuiInputBase-root {
          position: relative;
          border-radius: $big-radius;
          border: 2px solid $border-color;
          height: 45px;

          .MuiInputBase-input {
            padding: 0;
            margin-top: 1.3px;
            padding-left: 5px;
            color: $title-filter-color;
            font-size: $normal-size;
            font-weight: $normal-weight;
          }
        }
        .MuiOutlinedInput-notchedOutline {
          border: none;
          width: 500px;
        }
      }

      .posting-filter__time {
        position: relative;

        .icon-time__post {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
        }

        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 60px;
          color: $title-filter-color;
          font-size: $normal-size;
          font-weight: $normal-weight;
        }

        .MuiAutocomplete-root {
          .MuiInputBase-root {
            width: 260px;
            padding-left: 120px;
          }
        }
      }

      .filter-language__post {
        .MuiInputBase-root {
          width: 260px;
        }
      }
    }
    .posting-list {
      padding: 30px 0;
      padding-bottom: 0;
      .posting-list__container {
        position: relative;
        margin-top: 20px;
      }

      .posting-list__pagination {
        margin-top: 50px;
        @include flex(flex-end, unset);
      }
    }
  }
}
