.MuiBox-root {
  background-color: #f3f2f3;
  .post-form {
    .wanring-form {
      padding: 20px;
      .warning-infor {
        @include flex(unset, center);
        gap: 10px;
        background-color: rgba($color: #f4bfbf, $alpha: 0.8);
        padding: 5px 10px;
        font-size: $small-size;
        font-weight: $normal-weight;
        border-radius: 4px;
        color: $title-normal-color;
      }
      .warning-btn {
        width: 100%;
        padding-top: 20px;
        @include flex(center, center);
        .MuiButtonBase-root {
          padding: 10px 12px;
          background: $liner-background;
        }
      }
    }

    .stepper {
      padding-top: 0;
      padding-bottom: 10px;
    }
    .MuiInputBase-root {
      width: 100%;
      .MuiInputBase-input {
        padding: 10px 16px;
        font-size: $small-size;
        font-weight: $normal-weight;
      }
    }

    .fieldItem {
      margin-bottom: 15px;
      @include flex(unset, center);
      gap: 10px;
      span {
        font-size: $smaller-size;
        font-weight: $small-weight;
        color: $text-description-color;
        font-style: italic;
      }
    }
    .fieldItem_form {
      p {
        transform: translateY(-10px);
      }
    }

    //   date picker
    .rmdp-container {
      .rmdp-input {
        height: 41.65px !important;
        padding: 2px 16px;
        font-size: $smaller-size;
        font-weight: $normal-weight;
        letter-spacing: 1.1px;
        width: 125px;
      }
    }

    .line-separator {
      padding: 10px 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid $border-color;
    }

    .post-form__btn {
      @include flex(flex-end, center);
      gap: 15px;
      .MuiButtonBase-root {
        padding: 10px;
        width: 100px;
      }
    }

    .form_step {
      max-height: 465px;
      overflow-y: scroll;
      padding-right: 20px;

      &::-webkit-scrollbar {
        width: 3px;
        transition: all 0.2s ease-in-out;
        z-index: 9;
      }
      &:hover {
        &::-webkit-scrollbar {
          opacity: 1;
        }
      }

      &::-webkit-scrollbar-thumb {
        background: $liner-background;
        outline: 1px solid slategrey;
        border-radius: $normal-radius;
        overflow: hidden;
        cursor: pointer;
      }
    }
  }
}
