.post-item {
  position: relative;
  width: 100%;
  padding: 20px 20px;
  background-color: $pink-background;
  @include flex(space-between, flex-start);
  border-radius: $normal-radius;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.remain{
    background-color: #d9dbdb79;
  }

  &:hover {
    box-shadow: $box-shadow-normal;
  }

  p {
    font-size: $normal-size;
    color: $title-normal-color;
    font-weight: $normal-weight;
  }

  .post-item__infor {
    width: 85%;
    @include flex(center, flex-start);
    gap: 20px;
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: $normal-radius;
    }
    .post-infor__container {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;
      p {
        font-size: 18px;
        font-weight: bold;
      }

      h4 {
        font-size: 16px;
        font-weight: $normal-weight;
        color: #000;
      }
      .post-des__list {
        @include flex(unset, center);
        gap: 10px;
        margin-left: -5px;
        .MuiButtonBase-root {
          border-radius: 5px;
          background-color: $white-color;
          color: $title-filter-color;
          font-size: 12px;
          font-weight: $normal-weight;
          padding-top: 3px;
          padding-bottom: 3px;
          padding: 2px 10px;
        }
      }
    }
  }
  .post-item__des {
    @include flex(center, flex-end);
    flex-direction: column;
    width: 20%;
    gap: 10px;
    p {
      font-size: 17px;
      font-weight: bold;
      color: #2569b6;
    }
    span {
      position: absolute;
      bottom: 20px;
      color: $border-button-color;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
