.detail-spam {
  position: relative;

  h4 {
    font-size: $big-size;
    font-weight: $big-weight;
    text-align: center;
    margin-bottom: 10px;
  }
  .detail-spam__item {
    position: relative;
    @include flex(unset, flex-start);
    gap: 10px;
    margin-bottom: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
    .detail-spam__container {
      @include flex(unset, flex-start);
      flex-direction: column;
      gap: 10px;
      max-height: 500px;
      overflow-y: scroll;
      padding-right: 15px;
      &::-webkit-scrollbar {
        width: 4px;
        transition: all 0.2s ease-in-out;
        z-index: 9;
      }
      &:hover {
        &::-webkit-scrollbar {
          opacity: 1;
        }
      }

      &::-webkit-scrollbar-thumb {
        background: $liner-background;
        outline: 1px solid slategrey;
        border-radius: $normal-radius;
        overflow: hidden;
        cursor: pointer;
      }

      .detail-item__content {
        position: relative;
        background-color: #b5dfdfd6;
        padding: 10px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        p {
          font-size: $small-size;
          font-weight: $normal-weight;

          h5 {
            display: inline-block;
            font-size: $small-size;
            font-weight: $big-weight;
            margin-right: 5px;
          }
        }

        span {
          font-size: $smaller-size;
          font-weight: $small-weight;
          color: $text-description-color;
          @include flex(unset, center);
          gap: 5px;
          margin-top: 4px;
        }
      }
    }
  }
  .detail-spam__btn {
    @include flex(flex-end, center);
    gap: 10px;
    margin-top: 20px;

    .MuiButtonBase-root {
      background: $liner-background;
      padding: 11px;
    }
  }
}
