.manager-filter__container {
  position: relative;
  @include flex(unset, center);
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 35px;

  .manager-filter__search {
    position: relative;
    @include flex(unset, center);

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
    .MuiInputBase-root {
      padding-left: 35px;
      width: 350px;
      font-size: $small-size;
      input {
        padding: 12px;
      }
    }

    .MuiOutlinedInput-notchedOutline {
      border-radius: $normal-radius;
    }
  }

  .manager-filter__normal {
    @include flex(unset, center);
    gap: 8px;

    h4 {
      font-size: $small-size;
      color: $title-normal-color;
    }

    .MuiInputBase-root {
      padding: 4px 12px;
      border-radius: $normal-radius;
      width: 150px;
    }
  }

  .manager-filter__btn {
    @include flex(unset, center);
    gap: 15px;

    .manager-btn__list {
      @include flex(unset, center);
      gap: 10px;
      .button-search {
        span {
          color: #ff6161;
          font-weight: bold;
        }
        .MuiButtonBase-root {
          border-radius: $normal-radius;
          border-width: 2px;
        }
        .selected {
          background-color: $border-button-color;
          color: #fff;
        }
      }
    }
  }
  .manager-filter__date {
    @include flex(unset, center);
    gap: 8px;
    input {
      height: 40px;
      font-size: 13px;
      width: 150px;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
}
