.manager_item {
  @include flex(unset, center);
  .item-manager {
    position: relative;
    width: 100%;

    @include flex(space-between, center);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $pink-background-hover;
    }

    .item-manager__column {
      height: 52.4px;
      border: 1px solid $border-color;
      width: 100%;
      padding: 15px 10px;
      padding-left: 20px;
      font-size: $small-size;
      font-weight: $normal-weight;
      color: $title-normal-color;
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &.col-2 {
        flex: 2;
      }
      &.col-3 {
        flex: 3;
      }
      &.col-4 {
        flex: 4;
      }
      &.col-5 {
        flex: 5;
      }
      &.wait {
        color: $yellow-color;
      }

      &.confirm {
        color: $green-color;
      }
    }
  }
  .item-manager__function {
    @include flex(center, center);
    gap: 10px;
    padding: 0 10px;
    border: 1px solid $border-color;
    height: 52.4px;
    min-width: 230px;
    font-size: $small-size;
    font-weight: $normal-weight;
    color: $title-normal-color;
    cursor: pointer;
    .MuiButtonBase-root {
      font-size: $smaller-size;
      padding: 0px;
    }
  }
  .MuiButtonBase-root {
    font-weight: $big-weight;
  }
  &.header {
    background-color: $pink-background;
    .item-manager__column {
      font-weight: $big-weight;
      color: $title-big-color;
      white-space: nowrap;
    }
  }

  &.block {
    background-color: #e2e5e9;
  }
}
