.manager {
  margin-top: 20px;
  padding-bottom: 10px;

  .manager-header {
    @include flex(space-between, center);
    font-size: $normal-size;
    font-weight: $big-weight;
    color: $title-normal-color;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid $border-color;

    .button-showchart {
      font-weight: $normal-weight;
      &.active {
        color: #2ccce4;
      }
    }
  }
  .manager-filter,
  .manager-list {
    // padding-top: 20px;
    position: relative;
  }
  .manager-list {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 30px;
    border: 1px solid $border-color;
    border-radius: $normal-radius;
    overflow: hidden;
    .funtion {
      @include flex(center, center);
      gap: 5px;
    }
    .MuiTableCell-root:nth-child(7) {
      text-align: center;
    }
  }
  .member-manager__pagination {
    padding-bottom: 20px;
    @include flex(flex-end, center);
    position: relative;
  }

  .modal-profile__application {
    font-weight: $normal-weight;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: #1d1de1;
    }
  }
}

.modal-detail__posting {
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 15px;

  &::-webkit-scrollbar {
    width: 4px;
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }
  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $liner-background;
    outline: 1px solid slategrey;
    border-radius: $normal-radius;
    overflow: hidden;
    cursor: pointer;
  }
}
