.form-update {
  position: relative;
  min-width: 600px;
  max-height: 600px;
  overflow-y: scroll;
  padding-right: 15px;
  &::-webkit-scrollbar {
    width: 4px;
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }
  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $liner-background;
    outline: 1px solid slategrey;
    border-radius: $normal-radius;
    overflow: hidden;
    cursor: pointer;
  }
  h3 {
    font-size: 20px;
    font-weight: $bigger-weight;
    color: $title-normal-color;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-update__item {
    @include flex(unset, center);
    gap: 20px;
    margin-bottom: 15px;

    .form-item__title {
      flex: 1;
      h4 {
        font-size: $small-size;
        font-weight: $normal-weight;

        span {
          font-size: $smaller-size;
          font-weight: $small-weight;
          color: $title-normal-color;
          font-style: italic;
          display: block;
        }
      }
    }

    .form-item__text {
      flex: 3.5;

      .CAutocomplete .MuiOutlinedInput-root {
        min-height: 41.56px;
      }
      .MuiAutocomplete-inputRoot {
        padding: 0;
      }
      .MuiInputBase-input {
        padding: 10px 18px;
        font-size: $small-size;
        font-weight: $normal-weight;
      }
      &.double {
        @include flex(unset, center);
        gap: 10px;

        .MuiInputBase-root,
        .MuiFormControl-root,
        .MuiInputBase-input {
          width: 100px;
        }

        span {
          font-size: $smaller-size;
          font-weight: $small-weight;
          color: $title-filter-color;
          font-style: italic;
        }
      }

      &.radio {
        @include flex(unset, unset);
      }

      &.option {
        margin-bottom: 210px;
      }
    }
  }
  .form-update__btn {
    @include flex(flex-end, unset);
    padding-bottom: 5px;
  }

  .form-result {
    h4 {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .form-result__item {
      overflow: hidden;
      .result-item {
        position: relative;

        .quick_main {
          position: relative;
        }

        .payment-right__information {
          span {
            width: 180px;
          }
          @include flex(unset, center);
          gap: 10px;
          margin-bottom: 3px;

          span {
            font-size: $normal-size;
            font-weight: $normal-weight;
            color: $title-normal-color;
          }

          p {
            font-size: $small-size;
            font-weight: $normal-weight;
            color: $text-description-color;
          }
        }

        .payment-right__money {
          width: 300px;
          margin-top: 5px;
          padding-top: 10px;
          border-top: 1px solid $border-color;
          @include flex(unset, center);
          span {
            width: 190px;
            font-size: $normal-size;
            font-weight: $big-weight;
            color: $title-normal-color;
          }

          p {
            font-size: $small-size;
            font-weight: $big-weight;
            color: $title-normal-color;
          }
        }
      }
      &.btn {
        @include flex(flex-end, unset);
        gap: 20px;
      }
    }
  }

  .form-result__null {
    position: relative;

    span {
      padding: 20px 0;
      padding-bottom: 30px;
      @include flex(center, center);
      font-size: $normal-size;
      font-weight: $normal-weight;
      color: $title-normal-color;
    }

    .form-result__item {
      @include flex(center, center);
    }
  }
}
