.application-main {
  width: 100%;
  height: 100vh;
  .header {
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
    height: 55px;
    background-color: #0f256e;
    @include flex(space-between, center);
    padding: 0 150px;
    overflow: hidden;
    .title {
      @include flex(unset, center);
      img {
        width: 190px;
        object-fit: cover;
        margin-top: -4px;
      }
      p {
        color: rgb(247, 250, 255);
        border-left: 1px solid;
        padding: 2px 15px;
        margin-left: -15px;
        font-weight: 500;
        font-size: 15px;
      }
    }
    .header-account__function {
      .info {
        @include flex(unset, center);
        .border-icon {
          @include flex(center, center);
          width: 30px;
          height: 30px;
          border-right: 1px solid rgba(255, 255, 255);
          background-color: rgba(255, 255, 255, 0.1);
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0.4em 100%,
            0 calc(100% - 0.4em)
          );
        }
        .info-user {
          @include flex(flex-start, center);
          flex-direction: column;
          padding: 5px 15px;
          gap: 2px;
          p {
            font-size: 14px;
            font-weight: 450;
            color: #fff;
            width: 80px;
            text-align: left;
          }
          .position {
            font-size: 11px;
            font-weight: 450;
          }
        }
      }
    }
  }
  .east-container {
    position: fixed;
    right: 0px;
    top: 55px;
    width: 850px;
    height: 100vh;
    transition: opacity 0.6s cubic-bezier(0.76, 0, 0.24, 1) 0s;
    background: linear-gradient(
      to right,
      transparent 0px,
      transparent 50%,
      rgb(237, 241, 253) 50%,
      rgb(237, 241, 253) 100%
    );
  }
  .center-container {
    @include flex(center, flex-start);
    gap: 30px;
    flex-direction: column;
    position: relative;
    padding-left: 185px;
    padding-bottom: 30px;
    top: 55px;
    width: 69%;
    background-color: #fff;
    p {
      font-size: 14px;
      font-weight: 500;
    }
    .title {
      font-size: 28px;
      font-weight: 400;
    }

    .form {
      width: 100%;
      .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        p {
          font-size: 13px;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.7);
        }
        .full-name {
          display: flex;
          flex-direction: column;
          width: 40%;
          gap: 7px;
        }
        .location {
          @include flex(flex-start, flex-start);
          gap: 10px;
          width: 80%;
          .title {
            display: flex;
            flex-direction: column;
            gap: 7px;
            width: 50%;
          }
          .city {
            width: 60%;
          }
        }

        .citizenship {
          display: flex;
          flex-direction: column;
          width: 40%;
          gap: 7px;
        }

        .radio-commitment {
          display: flex;
          flex-direction: column;
          width: 40%;
          .MuiTypography-root {
            font-size: 13px;
            font-weight: 500;
            color: #000;
          }
        }
        .job-experience {
          @include flex(flex-start, flex-end);
          gap: 10px;
          width: 45%;
          .title {
            display: flex;
            flex-direction: column;
            gap: 7px;
            width: 100%;
          }
          .experience {
            width: 45%;
          }
        }
        .hourly-rate {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 45%;
          .MuiInputBase-root .MuiInputBase-input {
            padding: 13.5px 0px;
          }
          .MuiOutlinedInput-root {
            min-height: 35px;
            height: 35px;
            font-size: 13px;
            .MuiTypography-root {
              color: #000000 !important;
              font-size: 18px !important;
              font-weight: bold !important;
            }
          }
        }

        .link-infor {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 40%;
        }
        .textarea-about {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 50%;
          .textarea {
            border: 1px solid rgba(0, 0, 0, 0.3);
            min-width: 100%;
            padding: 5px 8px;
            border-radius: 5px;
            &:focus {
              outline: 3px solid #94aae8;
            }
          }
        }
        .upload-image {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;
          span {
            font-size: 11px;
          }
          .image-des {
            @include flex(flex-start, center);
            gap: 10px;
            .image {
              position: relative;
              @include flex(center, center);
              gap: 20px;
              width: 120px;
              height: 120px;
              .header-left__avatar {
                position: relative;
                width: 120px;
                height: 120px;
                img {
                  width: 120px;
                  height: 120px;
                  object-fit: cover;
                  border: 2px solid $white-color;
                  padding: 2px;
                  background-color: #c4c6ca;
                  clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%,
                    1.2em 100%,
                    0 calc(100% - 1.2em)
                  );
                }
                .icon-logo {
                  width: 30px;
                  height: 30px;
                  position: absolute;
                  border: none;
                  left: 10px;
                  bottom: 10px;
                  clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%,
                    0em 100%,
                    0 calc(100% - 0em)
                  );
                }
                .avatar-img__upload {
                  position: relative;
                  width: 120px;
                  height: 120px;

                  .loading-upload__avatar {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    div {
                      width: 100%;
                      height: 100%;
                      @include flex(center, center);
                    }
                  }
                }
              }
            }
            .des {
              @include flex(flex-end, flex-start);
              flex-direction: column;
              gap: 8px;
              height: 120px;
            }
          }
        }
        .des_pdf {
          width: 40%;
          padding: 10px 0;

          border: 1px solid rgba(0, 0, 0, 0.2);
          border-style: solid none solid none;
          @include flex(flex-start, center);
          flex-direction: row;
          p {
            min-width: 300px;
            padding: 0 5px;
            font-weight: 700;
          }
          .trash {
            cursor: pointer;
            padding: 3px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
              border-radius: 50px;
              padding: 3px;
            }
          }
        }
        .upload-resume {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;
          .title {
            font-size: 11px;
          }
          .des {
            p {
              font-size: 11px;
            }
          }
          span {
            font-size: 12px;
            font-weight: 900;
            color: #fff;
          }
          .resume-des {
            @include flex(flex-start, center);
            gap: 10px;
            .resume {
              .button {
                background-color: #204ecf;
                color: #fff;
                font-size: 12px;
                font-weight: 700;
                height: 25px;
              }
            }
            .des {
              @include flex(center, flex-start);
              flex-direction: column;
              gap: 5px;
            }
          }
        }
        .reason-appling {
          @include flex(flex-start, flex-start);
          gap: 7px;
          width: 50%;
          flex-direction: column;
          .container-error {
            width: 80%;
          }
        }
        .certification {
          @include flex(flex-start, flex-start);
          gap: 7px;
          width: 40%;
          flex-direction: column;
          span {
            font-size: 11px;
          }
        }
        .skills {
          @include flex(flex-start, flex-start);
          gap: 7px;
          width: 40%;
          flex-direction: column;
          span {
            font-size: 11px;
          }
          .container-error {
            width: 100%;
          }
        }
        .continue-bottom {
          @include flex(flex-start, flex-start);
          gap: 7px;
          width: 100%;
          padding-top: 25px;
          .button {
            @include flex(flex-start, center);
            gap: 5px;
            background-color: #03c380;
            color: #fff;
            font-weight: 700;
            font-size: 13px;
            padding: 5px 15px;
            opacity: 1;
          }
          .description {
            p {
              font-size: 12px;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.8);
              &:nth-child(1) {
                color: rgba(0, 0, 0, 0.4);
              }
            }
          }
        }
      }
      .MuiInputBase-input {
        height: 8px;
        font-size: 13px;
      }
    }
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  .MuiBox-root {
    background-color: #fff;
    .MuiButtonBase-root {
      font-size: 5px;
      .MuiSvgIcon-root {
        font-size: 18px;
      }
    }
  }
}
.MuiPaper-root {
  .cautocomplete {
    display: flex;
    flex-wrap: wrap;
    height: unset;
    max-height: 210px;
    padding: 5px 15px;
    overflow-y: scroll;
  }

  .reason-appling-item {
    width: 100%;
    word-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #000;
    padding: 5px 25px;
    transition: all 0.2s ease;
    &:hover {
      background-color: rgba(200, 200, 200, 0.4);
    }
  }
  .skills-item {
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    padding: 2px 13px;
    transition: all 0.2s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 4px;
    background-color: #fff;

    &:hover {
      background-color: #eaedf8;
      cursor: pointer;
    }
  }
}
