.main-member {
  position: relative;
  padding-bottom: 100px;
  #member {
    margin-top: 30px;

    .member-header {
      @include flex(unset, center);
      gap: 35px;
      h3 {
        font-size: $big-size;
        color: $violet-color;
        font-weight: $bigger-weight;
      }

      .member-header__statis {
        @include flex(center, center);
        gap: 15px;
        .MuiButtonBase-root {
          background-color: $title-normal-color;
          border-radius: $normal-radius;
        }
        span {
          font-size: $small-size;
          color: $border-color;
        }
      }
    }
    .member-main {
      padding: 15px;
      margin-top: 30px;
      padding-top: 0;
      .member-filter {
        padding-top: 25px;
        border-top: 1px solid $border-color;
        .member-filter__header {
          @include flex(unset, center);
          gap: 10px;

          h3 {
            font-size: $normal-size;
            color: $violet-color;
            font-weight: $bigger-weight;
          }
          svg {
            font-weight: $big-weight;
          }
        }
        .member-filter__function {
          @include flex(center, center);
          gap: 15px;
          position: relative;

          .member-function__find {
            position: relative;
            flex: 1;
            svg {
              position: absolute;
              top: 50%;
              transform: translateY(-55%);
              left: 15px;
            }

            .MuiInputBase-input {
              padding: 12px 20px;
              padding-left: 50px;
              font-size: $small-size;
            }
          }
          .MuiInputBase-input {
            padding: 3px;
            font-size: $small-size;
          }
          .MuiOutlinedInput-notchedOutline {
            border-color: #d7d6dc;
            border-width: 2px;
            border-radius: $normal-radius;
          }
          .MuiAutocomplete-root {
            &:nth-child(2) {
              width: 110px;
              .muiInputBase-input {
                color: #9291a1;
              }
            }

            &:nth-child(3) {
              width: 200px;
            }
          }
          .member-function__grid {
            @include flex(center, center);
            background-color: $blue-background;
            border-radius: $normal-radius;
            padding: 2px;

            &.four {
              .MuiButtonBase-root {
                &:nth-child(1) svg {
                  color: $white-color;
                }
              }
            }

            &.nice {
              .MuiButtonBase-root {
                &:nth-child(2) svg {
                  color: $white-color;
                }
              }
            }
          }
        }
        .member-filter__status {
          margin-top: 10px;
          position: relative;
          .member-status__main {
            height: 0px;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            position: relative;
            &.active {
              height: 42px;
            }

            .MuiFormGroup-root {
              display: flex;
              gap: 20px;
            }
          }
        }
        .member-filter__price {
          position: relative;
          @include flex(unset, center);
          gap: 20px;
          margin-top: 10px;
          .member-price__currency {
            @include flex(unset, center);
            p {
              font-size: $small-size;
              color: #60606f;
              font-weight: $big-weight;
            }
            .autocomplete_currency {
              .MuiInputBase-root {
                width: 95px;
              }
              .MuiOutlinedInput-notchedOutline {
                border: none;
              }
            }
          }
          .member-currency__input {
            position: relative;
            @include flex(center, center);
            gap: 10px;
            .text-price {
              position: relative;
              .MuiInputBase-root {
                .MuiInputBase-input {
                  padding: 12px 19.5px;
                  width: 120px;
                }
              }
              .MuiOutlinedInput-notchedOutline {
                border-radius: $normal-radius;
                overflow: unset;
                border-width: 2px;
              }
            }
            span {
              font-size: $small-size;
              font-weight: $normal-weight;
              color: $text-description-color;
            }
          }
          .member-price__skill {
            position: relative;
            @include flex(center, center);
            gap: 15px;
            .member-skill__autocomplete {
              .MuiInputBase-root {
                padding: 5px;
                width: 150px;
              }

              &:nth-child(2) {
                .MuiInputBase-root {
                  width: 180px;
                }
              }
              .MuiOutlinedInput-notchedOutline {
                border-radius: $normal-radius;
                overflow: unset;
                border-width: 2px;
              }
            }
          }
        }
        .member-filter__category {
          position: relative;
          margin-top: 10px;
          .member-categoru__main {
            &.active {
              height: 42px;
            }
            margin-top: 10px;
            height: 0px;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            display: flex;
            gap: 20px;

            .MuiButtonBase-root {
              border-width: 2px;
              border-radius: $normal-radius;
              font-size: $small-size;
              font-weight: $normal-weight;
              color: $border-button-color;
              border-color: $border-button-color;
              height: 42px;
            }
            .selected {
              background-color: $border-button-color;
              color: #fff;
            }
          }
        }
      }

      .member-list {
        position: relative;
        padding-top: 20px;
        margin-top: 10px;
        border-top: 1px solid $border-color;

        .member-list__result {
          @include flex(unset, center);
          gap: 30px;

          .member-result {
            @include flex(center, center);
            gap: 4px;

            h3 {
              font-size: $small-size;
              color: $title-normal-color;
              font-weight: $big-weight;
            }

            span {
              font-size: $small-size;
              font-weight: $normal-weight;
              color: $menu-color;
            }
          }
        }

        .member-list__main {
          position: relative;
          margin-top: 30px;
          .member-main__user {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            gap: 20px;
            .member-user__item {
              position: relative;
              padding: 15px;
              border-radius: $normal-radius;
              background-color: $member-background;
              transition: all 0.2s ease-in-out;
              @include flex(space-between, unset);
              flex-direction: column;
              &:hover {
                box-shadow: $box-shadow-hover;
              }
              img {
                height: 200px;
                width: 100%;
                object-fit: cover;
                border-radius: $normal-radius;
                overflow: hidden;
                cursor: pointer;
                pointer-events: unset;
                &.avatar {
                  width: 40px;
                  height: 40px;
                  object-fit: contain;
                }
              }

              .member-item__skill {
                margin-top: 8px;
                display: flex;
                justify-content: unset;
                align-items: center;
                flex-wrap: wrap;
                max-height: 75.5px;
                overflow: hidden;
                gap: 10px;
                .MuiButtonBase-root {
                  border-radius: $normal-radius;
                  background-color: $white-color;
                  box-shadow: unset;
                  color: $title-filter-color;
                  font-weight: $big-weight;
                  font-size: $smaller-size;
                  padding: 5px 7px;
                }
              }
              .member-item__job {
                margin-top: 10px;
                @include flex(space-between, center);
                .member-job {
                  display: flex;
                  flex-direction: column;

                  &:nth-child(2) {
                    align-items: flex-end;
                  }

                  span {
                    font-weight: $normal-weight;
                    font-size: $small-size;
                    color: #9d9bb9;
                  }
                }
              }
              .member-item__account {
                margin-top: 15px;
                padding-top: 15px;
                position: relative;
                @include flex(space-between, center);
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background: $liner-background;
                }
                .member-account__information,
                .member-account__star {
                  @include flex(center, center);
                  gap: 10px;
                  span {
                    font-weight: $normal-weight;
                    font-size: $small-size;
                    color: #9d9bb9;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                      color: $border-button-color;
                    }
                  }
                  svg {
                    color: $yellow-color;
                  }

                  img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                  }
                }
              }
              .member-user__cloud {
                position: absolute;
                top: 0;
                right: 0;
              }

              .member-user__status {
                position: absolute;
                top: 22px;
                left: 22px;
                span {
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  position: relative;
                  display: block;

                  &.free {
                    background-color: rgb(100, 237, 100);
                    box-shadow: 0 0 5px rgb(100, 237, 100),
                      0 0 15px rgb(100, 237, 100), 0 0 30px rgb(100, 237, 100),
                      0 0 60px rgb(100, 237, 100);
                  }

                  &.wait {
                    background-color: rgb(212, 237, 100);
                    box-shadow: 0 0 5px rgb(212, 237, 100),
                      0 0 15px rgb(212, 237, 100), 0 0 30px rgb(212, 237, 100),
                      0 0 60px rgb(212, 237, 100);
                  }

                  &.work {
                    background-color: rgb(237, 139, 100);
                    box-shadow: 0 0 5px rgb(237, 139, 100),
                      0 0 15px rgb(237, 139, 100), 0 0 30px rgb(237, 139, 100),
                      0 0 60px rgb(237, 139, 100);
                  }
                }
              }
            }
          }
          .member-main__pagination {
            position: relative;
            width: 100%;
            margin-top: 30px;
            @include flex(flex-end, center);
            color: #e7e761;
          }
        }
      }
    }
  }
}
