.application-profile {
  position: relative;
  &.scroll {
    overflow-y: scroll;
    height: 600px;
    padding-right: 15px;

    &::-webkit-scrollbar {
      width: 4px;
      transition: all 0.2s ease-in-out;
      z-index: 9;
    }
    &:hover {
      &::-webkit-scrollbar {
        opacity: 1;
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $liner-background;
      outline: 1px solid slategrey;
      border-radius: $normal-radius;
      overflow: hidden;
      cursor: pointer;
    }
  }
  .application-profile__header {
    font-size: $big-size;
    font-weight: $normal-weight;
    text-align: center;
    margin-bottom: 10px;
    color: $title-normal-color;
  }
  .application-profile__content {
    position: relative;
    .application-item {
      position: relative;
      margin-bottom: 15px;

      &.profile {
        @include flex(unset, center);
      }

      .application-item__content {
        &.pdf {
          margin-left: 50px;
          img {
            width: 70px;
            height: 80px;
            object-fit: cover;
          }

          a {
            @include flex(unset, center);

            span {
              white-space: nowrap;
              margin-top: 5px;
              font-size: $smaller-size;
              font-weight: $big-weight;
              color: $title-normal-color;
              margin-left: 5px
            }
          }
        }

        &.profile {
          @include flex(unset, center);
          gap: 10px;

          .application__content {
            @include flex(flex-start, unset);
            flex-direction: column;
            gap: 4px;

            h5 {
              font-size: $normal-size;
              font-weight: $big-weight;
              color: $title-normal-color;
            }

            span {
              font-size: $smaller-size;
              font-weight: $normal-weight;
            }
          }
          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
      h4 {
        margin-bottom: 5px;
      }
      .application-item__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        row-gap: 20px;

        &.double {
          grid-template-columns: 1fr;
          gap: 20px;

          p {
            text-align: justify;
          }
        }

        .apllication-content {
          p,
          a {
            font-size: $small-size;
            font-weight: $normal-weight;

            &:nth-child(1) {
              font-size: $smaller-size;
              font-weight: $big-weight;
              color: $title-normal-color;
              margin-bottom: 5pxs;
              @include flex(unset, center);
              gap: 6px;
            }
          }
        }
      }
    }
  }
}
