.home-admin {
  height: 100vh;
  overflow: hidden;
  @include flex(unset, flex-start);
  flex-direction: column;
  gap: 40px;
  position: relative;

  .home-admin__left {
    position: relative;
    width: 100%;

    .admin-leaft__dashboard {
      position: relative;
      @include flex(unset, flex-start);
      gap: 40px;

      .admin-dasboard__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-bottom: 20px;

        .admin-dasboard__item {
          position: relative;
          @include flex(center, center);
          flex-direction: column;
          border: 2px solid $border-color;
          border-radius: $normal-radius;
          overflow: hidden;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          padding: 20px 15px;
          height: 276.8px;

          &:hover {
            box-shadow: $box-shadow-hover;
          }

          video {
            width: 65px;
            height: 80px;
            object-fit: cover;
          }

          h3 {
            font-size: $big-size;
            font-weight: $bigger-weight;
            color: $title-normal-color;
            margin-top: 5px;
          }

          & > span {
            font-size: 20px;
            font-weight: $bigger-weight;
            background: $liner-background;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 10px;

            span {
              font-size: $small-size;
            }
          }

          p {
            font-size: $smaller-size;
            color: $text-description-color;
            text-align: center;
            margin: 10px 0;
          }

          .MuiButtonBase-root {
            margin-top: 5px;
            border-width: 2px;
            font-weight: $big-weight;
            border: none;
          }
        }
      }

      .react-calendar {
        border-radius: $normal-radius;
        overflow: hidden;
        border-width: 2px;
        border-color: $border-color;
        font-family: "Manrope", sans-serif;
        .react-calendar__tile--active,
        .react-calendar__tile--now {
          background: $border-button-color;
          border-radius: 8px;
          overflow: hidden;
          abbr {
            color: $white-color;
          }
        }
        .react-calendar__tile--now {
          background: $liner-background;
        }
      }
    }
  }
  .admin-leaft__chart {
    position: relative;
    width: 100%;

    canvas {
      max-height: 320px;
    }
  }
}
