.form-signup-main {
  position: relative;
  @include flex(flex-start, center);
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #fdfdfd;
  .change-form-singup {
    margin-top: 10px;
    font-size: 16px;
    padding-bottom: 20px;
    span {
      font-weight: 600;
      color: #0077b5;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .title {
    font-weight: 1000;
    font-size: 32px;
    text-align: center;
    opacity: 0.5;
    width: 100%;
    white-space: pre-line;
    height: 120px;
    margin-top: 10px;
  }

  .container {
    @include flex(space-between, center);
    width: 80%;
  }

  .form-signup {
    @include flex(unset, center);
    flex-direction: column;
    position: relative;
    flex: 0.65;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 600px;

    .form-login-button-google {
      border-radius: 10px;
      width: 75%;
      height: 45px;
      font-weight: bold;
      font-size: 15px;
      background-color: #0077b5;
      color: #ffff;
    }

    .line-text {
      padding-top: 10px;
      font-size: 18px;
      width: 75%;
      color: rgba($color: #000000, $alpha: 0.5);
      @include flex(space-between, center);
      &::before {
        content: "";
        width: 46%;
        height: 1px;
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
      &::after {
        content: "";
        width: 46%;
        height: 1px;
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }

    .label-Checkbox {
      font-size: 14px;
      margin-top: 5px;
      opacity: .8;
    }
    .button {
      border-radius: 10px;
      width: 100%;
      height: 45px;
      font-size: 15px;
      font-weight: bold;
      align-self: center;
      background-color: #00cc83;
      margin-top: 10px;
    }

    .form {
      width: 75%;
      gap: 5px;
      @include flex(center, center);
      flex-direction: column;

      .container-error {
        width: 100%;
        .error {
          align-self: flex-end;
          color: red;
          font-weight: 600;
          font-size: 12px;
          height: 20px;
        }
        .textfield {
          width: 100%;
          margin-top: 5px;
        }
        .password {
          width: 100%;
          margin: 0;
          margin-top: 3px;
        }
      }
    }

    .MuiFormControl-root {
      .MuiInputBase-root {
        padding-right: 15px;
        font-size: $small-size;
      }
      .MuiFormLabel-root {
        font-size: $small-size;
      }
    }
  }
  .show-companies {
    flex: 0.35;
    @include flex(flex-start, center);
    flex-direction: column;

    .container-logo {
      width: 400px;
      @include flex(center, center);
      flex-wrap: wrap;

      .container-logo-hover {
        width: 190px;
        height: 190px;
        .image-logoGif {
          width: 190px;
          height: 190px;
          opacity: 0;
        }
        .image-logo {
          width: 190px;
          height: 190px;
          position: absolute;

          // &:nth-child(1) {
          //   padding-top: 15px;
          // }
          // &:nth-child(4) {
          //   padding-bottom: 1000px;
          // }
        }
        &:hover .image-logoGif {
          opacity: 1;
        }
        &:hover .image-logo {
          opacity: 0;
        }
      }
    }
  }
}
