.form-job-selecttion-main {
  @include flex(center, center);
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-job-selecttion__container {
  width: 700px;
  height: 450px;
  border-radius: 20px;
  border: 1px;
  border-style: inset;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  @include flex(space-around, space-between);
  flex-direction: column;
  h1 {
    text-align: center;
    padding: 20px;
  }

  form {
    @include flex(space-between, center);
    flex-direction: column;
    height: 280px;
  }

  .container-option {
    @include flex(space-between, center);
    width: 100%;
  }
  .button {
    border-radius: 50px;
    width: 350px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    background-color: rgba(33, 111, 182, 0.9);

    &:disabled {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .label-bottom {
    font-size: 16px;
    align-self: center;

    a {
      color: #216fb6;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
