.radio-button-custom__container {
  position: relative;
  width: 250px;
  height: 160px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.2);

  padding: 5px 5px;
  margin-left: 15px;

  @include flex(flex-end, flex-start);

  &:hover,
  &:focus-within {
    border: 3px solid rgba(33, 111, 182, 0.8);
  }
  .container {
    @include flex(space-between, space-around);
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .label {
    position: relative;
    bottom: 20px;
    left: 10px;
    font-size: 21px;
    font-weight: 600;
    width: 85%;
  }
}
