.main-hire {
  .contract-detail {
    width: 86%;
    padding: 40px 10%;

    .contract-preview__detail {
      gap: 10% !important;
    }

    .contract-container__member {
      width: 93%;
      .contract-member__list{
        gap: 20px !important;
        .item-contract__detail{
          width: 290px;
        }
      }
    }
    .contract-detail__header {
      @include flex(space-between, center);
      position: relative;
      width: 86%;
      h3 {
        font-size: $bigger-size;
        font-weight: $bigger-weight;
      }
    }

    & > img {
      width: 250px;
      height: 250px;
      position: absolute;
      top: -3%;
      right: 20%;
    }
  }
}
