.contact-contract {
  width: 72%;
  overflow-y: hidden;
  height: 100vh;
  .content-contract {
    span {
      display: block;

      &:nth-child(2) {
        margin-top: 10px;
      }
    }

    .email-send__contract {
      @include flex(center, center);
      position: relative;
      flex-direction: column;
      margin-top: 20px;

      form {
        width: 100%;

        .MuiButtonBase-root {
          margin-top: 20px;
          width: 30%;
          background: $liner-background;
          padding: 12px;
          font-size: $small-size;
        }
      }
    }
  }
}
