.main-formPosition {
  width: 72%;
  min-height: 100vh;
  position: relative;
  @include flex(unset, center);
  flex-direction: column;
  .form-position-container {
    width: 55%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .container_text {
      width: 100%;
      background-color: #edf1fd;
      font-size: 15px;
      border-radius: 5px;
      padding: 16px;
      font-weight: 400;
      margin-top: -20px;
    }
    .form-radio-option {
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 25px;
      .title {
        font-size: 22px;
        padding-bottom: 10px;
        font-weight: 300;
      }
    }
    .button {
      width: 300px;
      align-self: center;
      font-size: 15px;
      height: 45px;
      background-color: #204ecf;
      margin-top: 10px;

      .next {
        width: 100%;
        height: 100%;
        color: #fff;
        position: absolute;
        @include flex(center, center);
        z-index: 1;
      }
      .MuiButton-endIcon {
        position: absolute;
        right: 15px;
        z-index: 0;
      }
    }
    .freelancer_link {
      color: #204ecf;
      font-size: 14px;
      font-weight: 400;
      align-self: center;
      padding-bottom: 30px;
    }
  }
}
