.main-formOption {
  width: 72%;
  min-height: 100vh;
  position: relative;
  margin-top: -50px;
  @include flex(center, center);
  flex-direction: column;
  .form-option-container {
    margin-top: -50px;
    width: 55%;
    display: flex;
    gap: 20px;
    flex-direction: column;

    .form-radio-option {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 25px;
      .title {
        font-size: 22px;
        padding-bottom: 10px;
        font-weight: 300;
      }
      .CAutocomplete .MuiOutlinedInput-root {
        min-height: 45px;
      }

      min-height: 350px;
    }
    .container_button {
      @include flex(space-between, center);
      .button_back {
        width: 100px;
        align-self: flex-start;
        font-size: 15px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        box-shadow: none;
        color: rgba(0, 0, 0, 0.7);
      }

      .btn-right {
        @include flex(unset, center);
        gap: 10px;
        .skip {
          width: 80px;
          font-size: 15px;
          height: 45px;
          border-color: rgba(0, 0, 0, 0.5);
          @include flex(center, center);
        }
      }

      .button {
        width: 100px;
        align-self: flex-end;
        font-size: 15px;
        height: 45px;
        background-color: #204ecf;

        &:disabled {
          opacity: 0.6;
        }

        .next {
          width: 100%;
          height: 100%;
          color: #fff;
          position: absolute;
          padding-right: 10px;
          @include flex(center, center);
          z-index: 1;
        }
        .MuiButton-endIcon {
          position: absolute;
          right: 15px;
          z-index: 0;
        }
      }
    }
  }
}
