.main-formOption {
  .form-option-container {
    .form-radio-option {
      gap: 15px;
      .form-select-option-label {
        gap: 10px;
        @include flex(flex-start, center);
        span {
          font-size: 13px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.5);
        }
        .form-select-option {
          border: none;
          width: 130px;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }
}
