.quick_container {
  margin-bottom: 15px;
  position: relative;
  max-height: 480px;
  overflow-y: scroll;
  padding-right: 15px;
  &::-webkit-scrollbar {
    width: 4px;
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }
  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $liner-background;
    outline: 1px solid slategrey;
    border-radius: $normal-radius;
    overflow: hidden;
    cursor: pointer;
  }

  .quick_header {
    &.only {
      margin-top: 15px;
    }
    h4 {
      font-size: $normal-size;
      font-weight: $big-weight;
      color: $title-big-color;
    }

    span {
      font-size: $smaller-size;
      font-weight: $small-weight;
      font-style: italic;
      color: $text-description-color;
    }
  }

  .quick_main {
    margin-bottom: 15px;
  }

  .quick-container_option {
    position: relative;
    @include flex(unset, flex-start);
    gap: 30px;
    width: 850px;
    margin-top: 15px;

    .quick_header {
      flex: 1;
    }
    .quick_option {
      flex: 1;
    }
  }
  .quick_done {
    position: relative;
    @include flex(center, center);
    img {
      width: 60%;
      object-fit: cover;
      border-radius: $normal-radius;
      margin-top: 15px;
    }
  }
  .title-done__quick {
    text-align: center;
    font-size: $normal-size;
    font-weight: $normal-weight;
    color: $title-normal-color;
    font-style: italic;
    margin: 10px 0;
  }
  .quick-done__over {
    @include flex(center, center);
    flex-direction: column;
    min-width: 650px;
    gap: 10px;
    .quick-over__item {
      @include flex(unset, unset);
      flex-direction: column;
      gap: 5px;
      .quick-item {
        @include flex(unset, flex-start);
        h4 {
          min-width: 190px;
          white-space: nowrap;
          font-size: $small-size;
          font-weight: $big-weight;
        }
        span {
          font-size: $small-size;
          font-weight: $normal-weight;
          color: $text-small-color;
        }
      }
    }
  }
}
