.item-employee_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  column-gap: 30px;
  margin-top: 20px;

  .item_employee {
    position: relative;
    @include flex(unset, flex-start);
    gap: 10px;
    background-color: #c4f1e088;
    border-radius: $normal-radius;

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: $normal-radius;
    }

    .item-employee__infor {
      width: 280px;
      position: relative;
      padding: 10px;
      span {
        font-size: $small-size;
        font-weight: $normal-weight;
      }
      .item-employee__start {
        position: absolute;
        top: 5px;
        right: 5px;
        @include flex(unset, center);
        gap: 2px;
        font-size: $small-size;
        font-weight: $normal-weight;
      }

      .item-employee__me {
        position: relative;
        @include flex(flex-start, unset);
        flex-direction: column;
      }
      .item-employee__work {
        color: $text-small-color;
        @include flex(unset, center);
        gap: 20px;
        margin-top: 10px;
        span {
          font-size: $smaller-size;
          font-weight: $small-weight;
        }
        .employee-work {
          @include flex(flex-start, unset);
          flex-direction: column;
          white-space: nowrap;
        }
      }
    }
  }
}
