.radio-button-custom-hire {
  .container {
    display: flex;
    flex-direction: column;
    @include flex(flex-start, flex-start);
    .title-radio {
      @include flex(flex-start, center);
      font-size: 16px;
    }
    .description {
      margin-left: 40px;
      font-size: 13px;
      opacity: 0.7;
      margin-top: -5px;
    }
  }
}
