.CAutocomplete {
  .MuiOutlinedInput-root {
    min-height: 35px;
    @include flex(flex-start, center);
    flex-wrap: wrap;
    padding: 0 15px;
    cursor: pointer;
  }

  .MuiInputBase-input {
    height: 0px !important;
    font-size: 13px;
    &:focus {
      caret-color: transparent;
    }
  }
  .MuiButtonBase-root {
    height: 25px;
    font-size: 12px;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
    cursor: pointer;
  }

  .MuiInputAdornment-root {
    position: absolute;
    right: 10px;
    font-size: 13px;
    background-color: #fff;
    svg {
      // pointer-events: none;
      cursor: pointer;
      min-height: 30px;
    }
  }

  .MuiInputAdornment-root {
    position: absolute;
    right: 10px;
    font-size: 13px;
    background-color: #fff;
  }

  .MuiSvgIcon-root {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    width: 13px;
    height: 13px;
    fill: white;
    border-radius: 50%;
    border: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
