.CDropzoneImg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  @include flex(center, center);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  .CDropzoneImg-container {
    @include flex(center, center);
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    svg {
      opacity: 0;
      position: relative !important;
      transition: all 0.2s ease-in-out;
    }
    span {
      opacity: 0;
      color: $white-color;
      font-size: $smaller-size;
      font-weight: $normal-weight;
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    background-color: rgba($color: #ffff, $alpha: 0.2);
    img {
      opacity: 0.9;
    }
    .CDropzoneImg-container {
      span,
      svg {
        opacity: 1;
      }
    }
  }
}
