.loading-modern {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include flex(center, center);
  mix-blend-mode: multiply;
  background-color: #F9FBFE;

  img {
    height: 65%;
    object-fit: cover;
  }
}
