.MuiMenuItem-gutters {
  gap: 20px;

  .title-menu {
    padding-right: 25px;
    width: 150px;
    transition: all 0.3s ease-in-out;
    color: $menu-color;
  }

  &:hover {
    color: $black-color;
    letter-spacing: 1.1px;
    font-weight: $big-weight;
  }
}

.home-header__account {
  .btn-menu__login {
    .MuiButtonBase-root {
      background: $liner-background;
      padding: 10px 20px;
    }
  }

  .MuiButtonBase-root {
    &.btn-apply__freelancer {
      background: $liner-background;
      padding: 10px 20px;
    }
  }
}
