.MuiPagination-root {
  .MuiButtonBase-root {
    font-family: "Manrope", sans-serif;
    width: 35px;
    height: 35px;
    font-weight: $normal-weight;
    font-size: $small-size;
    border-width: 2px;
    border-color: $border-button-color;
    border-radius: 10px;
  }
  .MuiPaginationItem-ellipsis {
    font-size: 20px;
  }
}
