.share {
  position: relative;
  .share-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    row-gap: 10px;

    .share-item {
      @include flex(center, center);
      flex-direction: column;

      span {
        font-size: 12px;
        margin-top: 5px;
        font-weight: $normal-weight;
      }
    }

    &.bottom {
      margin-top: 20px;
      padding-top: 5px;
      border-top: 1px solid $border-color;
    }
  }
}
