.stepper {
  padding: 30px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  .MuiStep-root {
    padding-left: 0px;
    padding-right: 8px;
    background-color: #fff;
  }
  .MuiStepLabel-iconContainer {
    .Mui-active {
      color: #204ecf;
    }
    .Mui-completed {
      color: #03b080;
    }
  }

  .MuiStepConnector-root {
    flex: 0.01;
    &::after {
      content: ">";
      font-size: 25px;
      color: rgba(0, 0, 0, 0.4);
      padding-right: 8px;
    }

    .MuiStepConnector-line {
      border: none;
    }
  }
  .label {
    @include flex(center, flex-start);
    flex-direction: column;
    gap: 3px;
    .title {
      font-size: 12px;
      font-weight: bold;
      color: #000;
    }
    .time {
      font-size: 10px;
      @include flex(center, flex-start);
      p {
        font-size: 12px;
        padding-left: 5px;
      }
    }
  }
}
