.MuiTable-root {
  .MuiTableRow-root {
    transition: all 0.1s ease-in-out !important;
    &:hover {
      background-color: #c7c4c4a9 !important;
    }
    .MuiTableCell-root {
      font-family: "Manrope", sans-serif !important;
      cursor: pointer !important;
    }
    &.check{
      background-color: #d3e9f39a;
    }
  }
  .MuiTableHead-root {
    .MuiSvgIcon-root {
      color: white;
    }
  }
}
