.TextareaAutosize-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .error-textarea {
    border: 1px solid red;
    min-width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
    &:focus {
      outline: 3px solid red;
    }
  }

  span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
