.MuiInputBase-root {
  width: 100%;
  .MuiInputBase-input {
    padding: 13.5px 19.5px;
  }
}
.MuiFormControl-root {
  overflow: unset;
  margin-bottom: unset;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
