.post-global {
  position: relative;

  .post-global__img {
    @include flex(unset, flex-start);
    gap: 30px;
    flex-wrap: wrap;
  }
  img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }
  p {
    font-size: $normal-size;
    color: $text-small-color;
    font-weight: $normal-weight;
  }
  .post-global__container {
    flex: 1;
    .jobInfor {
      display: flex;
      flex-direction: column;
      gap: 5px;
      p {
        font-size: 15px;
        font-weight: 600;
      }
      h2 {
        color: $footer-background;
        font-weight: $big-weight;
      }
    }

    .post-global__media {
      position: relative;
      width: 400px;
      padding: 5px 0;
      @include flex(flex-start, center);
      gap: 50px;

      .post-media__container {
        @include flex(center, center);
        gap: 4px;
        font-size: $small-size;
        font-weight: $normal-weight;
        color: $text-small-color;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $title-normal-color;
        }

        svg {
          font-size: $big-size;
        }
      }
    }
  }
  .post-global__content {
    position: relative;
    margin-top: 10px;
    .title_global {
      margin-bottom: 10px;
    }
    h4 {
      font-size: 18px;
      font-weight: bold;
      color: $text-small-color;
      line-height: $big-size;
    }
    ul {
      li {
        position: relative;
        cursor: unset !important;
        padding-left: 20px;
        line-height: $big-size;
        &::before {
          content: "";
          position: absolute;
          top: 10px;
          left: 5px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $text-small-color;
        }
      }
    }
    & > p {
      margin-top: 5px;
      u {
        font-style: italic;
        color: $title-filter-color;
      }
    }
  }
}
