.post-infor {
  position: relative;
  margin-top: 20px;

  h3 {
    font-weight: $bigger-weight;
    color: $title-normal-color;
    margin-bottom: 10px;
  }

  .post-infor__list {
    position: relative;
    @include flex(unset, center);
    flex-wrap: wrap;
    gap: 20px 80px;
    margin-top: 10px;

    .post-infor__item {
      @include flex(center, center);
      gap: 10px;
      color: $text-small-color;
    }
  }
}
