.job-candidate {
  position: relative;
  margin-top: 20px;
  h3 {
    font-weight: $bigger-weight;
    color: $title-normal-color;
    margin-bottom: 10px;
  }
  ul {
    li {
      position: relative;
      cursor: unset;
      font-size: $normal-size;
      font-weight: $normal-weight;
      color: $text-small-color;
      line-height: $big-size;
      padding-left: 15px;
      margin-bottom: 3px;
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        height: 2px;
        background-color: $text-small-color;
      }
    }
  }
}
