.modal-spam {
  position: relative;
  h4 {
    font-size: $big-size;
    font-weight: $big-weight;
    text-align: center;
    margin-bottom: 5px;
  }
  .MuiInputBase-input {
    padding: 9px 15px !important;
    font-size: $small-size;
  }

  .modal-spam__btn {
    margin-top: 10px;
    @include flex(flex-end, center);
    gap: 10px;
    .MuiButtonBase-root {
      background: $liner-background;
    }
  }
}
