.job-send {
  position: relative;
  margin-top: 20px;

  h3 {
    font-weight: $bigger-weight;
    color: $title-normal-color;
    margin-bottom: 10px;
  }

  .job-send__container {
    display: flex;
    gap: 20px 80px;
    align-items: center;
    flex-wrap: wrap;

    .job-send__item {
      @include flex(center, center);
      gap: 10px;
      color: $text-small-color;
      font-size: $normal-size;
      font-weight: $normal-weight;
    }
  }
}
