.convenience {
  position: relative;
  h2 {
    text-align: center;
    font-size: $bigger-size;
    font-weight: $bigger-weight;
    color: $violet-color;
  }

  .convenience-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-top: 40px;
    .convenience-content__item {
      position: relative;
      .convenience-item__icon {
        padding: 6px;
        border-radius: $normal-radius;
        background-color: $gray-background;
        width: 55px;
        height: 55px;
        @include flex(center, center);
        cursor: pointer;
        margin-bottom: 20px;
        svg {
          width: 30px;
          height: 30px;
          color: $title-filter-color;
        }
      }
      h4 {
        font-size: $normal-size;
        font-weight: $bigger-weight;
        color: $violet-color;
      }
      p {
        margin-top: 5px;
        font-size: $small-size;
        font-weight: $small-weight;
        line-height: 24px;
        color: $title-filter-color;
      }
    }
  }
}
