.main {
  width: auto;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px 50px;
  padding-right: 20px;
  padding-bottom: 0px;
  @include flex(flex-start, unset);
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 7px;
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }
  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $liner-background;
    outline: 1px solid slategrey;
    border-radius: $normal-radius;
    overflow: hidden;
    cursor: pointer;
  }

  .home-header {
    position: relative;
    .home-header__account {
      @include flex(space-between, center);
      width: 100%;
      .header-account__avatar {
        display: flex;
        gap: 15px;
      }
      .header-account__function {
        @include flex(center, center);
      }
    }
    .home-header__search {
      width: 100%;
      @include flex(flex-end, center);
      position: relative;
      gap: 20px;
      margin-top: 15px;

      .home-search__container {
        position: relative;
        width: 350px;

        .MuiFilledInput-root {
          .MuiInputBase-input {
            padding: 12px 25px 12px 50px;
            font-size: $small-size;
          }

          &::before {
            border-bottom: $placeholder-color;
          }
        }

        .home-search__svg {
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          width: 25px;
          height: 25px;
          color: $placeholder-color;
        }
      }

      .MuiButtonBase-root {
        height: 44px;
        width: 60px;
        background: $title-filter-color;
        font-size: $small-size;
        border-radius: 10px;
      }
    }
  }

  .home-container {
    @include flex(center, unset);
    position: relative;
    gap: 40px;
    margin-top: 20px;

    .home-container__left {
      flex: 7;
      background-color: $pink-background;
      border-radius: $big-radius;
      padding: 40px 30px;
      @include flex(center, unset);

      .container-left__context {
        flex: 1.3;
        position: relative;

        h2 {
          font-size: $bigger-size;
          font-weight: $bigger-weight;
          color: $violet-color;
          max-width: 470px;

          u {
            background: $liner-background;
            background-clip: text;
            color: transparent;
          }
        }

        p {
          margin-top: 10px;
          font-size: $small-size;
          line-height: 22px;
          font-weight: $smaller-weight;
          max-width: 90%;

          span {
            font-weight: $bigger-weight;
          }
        }
        .container-left__btn {
          .MuiButtonBase-root {
            margin-top: 25px;
            background: $liner-background;
            border-radius: $normal-radius;
            padding: 10px 55px;
            font-size: $small-size;
            font-weight: $smaller-weight;
          }
        }
      }
      .container-left__img {
        flex: 0.9;
        position: relative;
        mix-blend-mode: multiply;

        img {
          position: absolute;
          top: -50px;
          right: -30px;
          width: 650px;
          height: 380px;
          object-fit: cover;
        }
      }
    }
    .home-container__right {
      flex: 3;
      position: relative;
      background-color: $pink-background;
      padding: 20px 30px;
      border-radius: $big-radius;
    }
  }

  .home-hotMember,
  .home-marketplace {
    margin-top: 50px;
    background-color: $pink-background;
    border-radius: $normal-radius;
    border-radius: $big-radius;
    padding: 20px 30px;
    width: 100%;
  }

  .home-partner {
    padding: 50px 5px;
    position: relative;
  }

  .home-convenience {
    position: relative;
    padding: 100px 0;
  }
}
