.hotMember {
  position: relative;
  width: 100%;
  .hotMember-header {
    @include flex(space-between, center);
    width: 100%;
    .hotMember-header__left {
      @include flex(center, center);
      gap: 20px;

      h3 {
        font-size: $big-size;
        font-weight: $bigger-weight;
        color: violet-color;
      }

      @include autoComplete(180px, $border-button-color, $blue-background);
    }

    .hotMember-header__right {
      @include flex(center, center);
      gap: 10px;
      .MuiButtonBase-root {
        border-width: 2px;
        border-radius: $normal-radius;
        font-size: $small-size;
        font-weight: $normal-weight;
        color: $border-button-color;
        border-color: $border-button-color;
        width: 100%;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      right: unset;
      left: unset;
      top: unset;
      margin: unset;
      padding: unset;
      position: relative;
      width: 100%;
      &::after {
        display: none;
      }

      .MuiButtonBase-root {
        padding-left: 5px;
        padding-right: 5px;
        width: 50px;
      }
    }
  }
  .hotMember-slides {
    position: relative;
    width: 100%;
    margin-top: 25px;

    .hotMember-slides__item {
      padding: 20px 25px;
      border-radius: $normal-radius;
      background-color: $white-color;
      cursor: pointer;
      transition: all .2s ease-in;

      &:hover{
        box-shadow: $box-shadow-normal;
      }
      .hotMember-slides__img {
        width: 100%;
        height: 220px;
        border-radius: 8px;
        overflow: hidden;
        object-fit: cover;
      }

      .hotMemeber-item__information {
        @include flex(space-between, center);
        font-size: $small-size;
        font-weight: $small-weight;
        color: $text-small-color;
        margin-top: 8px;
        padding-bottom: 20px;
        position: relative;

        .hotMember-information__title,
        .hotMember-information__content {
          display: flex;
          flex-direction: column;
        }

        .hotMember-information__title {
          align-items: flex-start;
        }

        .hotMember-information__content {
          align-items: flex-end;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background: linear-gradient(256.8deg, #0698f9 13.5%, #f906f9 87.25%);
          border-radius: $big-radius;
        }
      }

      .hotMember-item__star {
        margin-top: 10px;
        @include flex(space-between, center);
        .hotMember-star__information {
          @include flex(center, center);
          gap: 5px;
          .hotMember-star__avatar {
            width: 32px;
            height: 32px;
            object-fit: contain;
          }
          h5 {
            font-weight: $small-weight;
            color: $text-small-color;
          }
        }
        .hotMember-star__mount {
          @include flex(center, center);
          gap: 5px;
          svg {
            color: $yellow-color;
          }
          span {
            font-weight: $small-weight;
            color: $text-small-color;
            font-size: $small-size;
          }
        }
      }
    }
  }
}
