.home-itemMember {
  @include flex(unset, center);
  gap: 20px;
  padding: 7px 15px;
  background-color: $white-color;
  border-radius: $big-radius;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: $box-shadow;
  transition: box-shadow .4s ease-in-out;

  span {
    font-size: $small-size;
    color: $text-description-color;
  }

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}
