.item-maketplace {
  width: 100%;
  padding: 15px;
  border-radius: $normal-radius;
  background-color: $white-color;
  cursor: pointer;
  box-shadow: $box-shadow;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
  img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
  }

  .MuiButtonBase-root {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    padding: 8px;
    background: $title-filter-color;
  }
}
