.maketplace {
  position: relative;
  width: 100%;
  h2 {
    font-size: $big-size;
    text-align: center;
    font-weight: $bigger-weight;
    color: $violet-color;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .maketplace-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
  }
}
