.partner {
  position: relative;
  @include flex(center, center);
  gap: 40px;

  .partner-image {
    position: relative;
    padding: 15px;
    border-radius: $normal-radius;
    box-shadow: $box-shadow;
    img {
      width: 220px;
      object-fit: contain;
    }

    &:nth-child(1) {
      margin-top: 100px;
    }

    .partner-image__name {
      @include flex(unset, center);
      gap: 5px;
      h4 {
        font-size: $normal-size;
        font-weight: bigger-weight;
      }
      svg {
        color: $yellow-color;
      }
    }
    p {
      font-size: $smaller-size;
      color: $text-small-color;
    }
  }

  .partner-context {
    position: relative;
    margin-left: 30px;
    h3 {
      font-size: $bigger-size;
      font-weight: $big-weight;
    }
    p {
      font-size: $small-size;
      color: $text-small-color;
      max-width: 400px;
      margin-top: 20px;
    }
    .partner-context__button {
      margin-top: 30px;
      @include flex(unset, center);
      gap: 20px;
      .MuiButtonBase-root {
        font-size: $small-size;
        font-weight: $normal-weight;
        border-radius: $big-radius;
        padding: 10px 25px;
        background: $liner-background;
        overflow: hidden;
        a {
          color: #fff;
        }
        &.Mui-disabled {
          a {
            color: #b9b8b8;
          }
        }
      }
    }
  }
}
