.contract-detail {
  position: relative;
  padding: 20px 0;
  .contract-detail__header {
    h3 {
      margin-top: 10px;
      font-size: $big-size;
      font-weight: $big-weight;
      color: $title-normal-color;
    }
  }

  h4 {
    font-size: $normal-size;
    font-weight: $big-weight;
    color: $title-normal-color;
    margin-top: 20px;
  }
  .contract-detail__container {
    position: relative;

    .contract-container__information {
      position: relative;
      .contract__information-detail {
        position: relative;
        @include flex(unset, flex-start);
        column-gap: 60px;
        flex-wrap: wrap;
        .contract-item__infor {
          @include flex(unset, center);
          margin: 10px 0;

          span {
            font-size: $small-size;
            font-weight: $big-weight;
            color: $text-small-color;
          }
          .item-infor__title {
            @include flex(unset, center);
            gap: 5px;
            width: 170px;
            font-weight: $normal-weight;
          }
        }
      }
    }

    .contract-container__preview {
      position: relative;
      .contract-preview__detail {
        position: relative;
        @include flex(unset, flex-start);
        gap: 30px;
        p {
          font-size: $small-size;
          font-weight: $normal-weight;
          color: $text-description-color;
          margin: 10px 0;
          gap: 30px;
        }
        .contract-preview__des {
          flex: 1;

          .contract-preivew__list {
            position: relative;

            span {
              display: block;
              color: $text-small-color;
              font-size: $small-size;
              font-weight: $normal-weight;
              margin: 6px 0;
              padding-left: 12px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                top: 9px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                overflow: hidden;
                background: $text-small-color;
              }
            }
          }
        }
        .contract-preview__view {
          flex: 1;
          .contract-view__item {
            position: relative;
            @include flex(unset, center);
            gap: 10px;
            width: fit-content;
            overflow: hidden;
            padding-right: 30px;
            cursor: pointer;

            img {
              width: 60px;
              height: 70px;
              object-fit: cover;
            }

            .contract-view__infor {
              position: relative;
              @include flex(unset, flex-start);
              gap: 5px;
              flex-direction: column;
              color: $text-description-color;
              font-size: $small-size;
              span {
                &:nth-child(1) {
                  color: $text-small-color;
                  font-weight: $normal-weight;
                }
              }
            }
            &:hover {
              box-shadow: $box-shadow;
            }
          }
        }
      }
    }
    .contract-container__member {
      position: relative;

      .contract-member__list {
        margin-top: 20px;
        position: relative;
        @include flex(unset, center);
        flex-wrap: wrap;
        gap: 30px;
      }
    }

    .contract-container__cost {
      position: relative;
      margin-top: 30px;
      .contract-cost__detail {
        margin-top: 15px;
        width: 350px;
        .cost-detail__item {
          @include flex(space-between, flex-end);
          margin: 5px 0;
          font-size: $smaller-size;
          font-weight: $normal-weight;
          span {
            &:nth-child(1) {
              color: $text-description-color;
            }
            &:nth-child(2) {
              color: $text-small-color;
            }
          }
          &.amount {
            font-size: $small-size;
            font-weight: $big-weight;
            span {
              &:nth-child(1) {
                color: $title-filter-color;
              }
              &:nth-child(2) {
                color: $text-small-color;
              }
            }
          }

          &.total {
            font-size: 18px;
            font-weight: $big-weight;
            span {
              &:nth-child(1) {
                color: $title-filter-color;
              }
              &:nth-child(2) {
                color: $text-small-color;
              }
            }
          }

          &:nth-child(2),
          &:nth-child(5) {
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;
            padding-bottom: 15px;
          }
        }
      }
    }

    .contract-container__btn {
      position: relative;
      width: 350px;
      @include flex(space-around, center);
      margin-top: 25px;

      .MuiButtonBase-root {
        background: $liner-background;
        width: 120px;
        padding: 10px;
        font-size: $small-size;
      }
    }
  }
}
