.item-contract__detail {
  position: relative;
  @include flex(unset, center);
  gap: 10px;
  width: 300px;
  background-color: $pink-background;
  border-radius: $normal-radius;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: $box-shadow-normal;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: $normal-radius;
    object-fit: cover;
  }

  .item-contract__infor {
    overflow: hidden;
    padding-right: 10px;
    h5 {
      color: $text-small-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all .1s ease-in-out;
      &:hover {
        color: $title-filter-color;
      }
    }

    span {
      font-size: $smaller-size;
      color: $text-description-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .item-contract__review {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-style: italic;
      span {
        text-decoration: underline;
        color: $black-color !important;
      }
    }

    .item-review__star {
      position: absolute;
      top: 5px;
      right: 11px;
      color: $yellow-color;
      font-size: $small-size;
      @include flex(unset, center);
      gap: 4px;
    }

    .MuiButtonBase-root {
      margin-top: 5px;
      padding: 4px;
      font-size: $smaller-size;
      background: $liner-background;
    }
  }
}
