.review-container {
  position: relative;
  @include flex(unset, center);
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  .review-container__employee {
    flex: 1;
    position: relative;
    @include flex(unset, center);
    gap: 20px;
    img {
      width: 100px;
      height: 100px;
      border-radius: $normal-radius;
      overflow: hidden;
      object-fit: cover;
    }

    .review-employee__information {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h5 {
        font-size: $normal-size;
        font-weight: $big-weight;
        color: $title-filter-color;
      }

      span {
        font-size: $small-size;
        font-weight: $small-weight;
        color: $text-description-color;
      }
    }
  }

  .review-container__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin-top: 20px;

    .MuiInputBase-root {
      width: 100%;
    }

    .review-container__star {
      @include flex(unset, flex-end);
      p {
        font-weight: $normal-weight;
        color: #faaf00;
        font-size: 18px;
        margin-left: 5px;
        font-style: italic;
      }
    }
    .error {
      font-size: $smaller-size;
      font-weight: $normal-weight;
      color: $red-color;
    }
  }
  .MuiButtonBase-root {
    margin-top: 20px;
    background: $liner-background;
    padding: 10px;
    width: 100%;
  }
}
