.main-CEastHire {
  min-height: 100vh;
  background-color: #000;
  position: fixed;
  right: 0;
  padding-top: 30px;
  width: 28%;
  @include flex(center, center);
  .show-companies {
    @include flex(center, center);
    flex-direction: column;
    .title {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 700;
      font-size: 15px;
    }
    .container-logo {
      width: 400px;
      @include flex(center, center);
      flex-wrap: wrap;

      .container-logo-hover {
        width: 190px;
        height: 190px;
        .image-logoGif {
          width: 190px;
          height: 190px;
          opacity: 0;
          background-color: black;
        }
        .image-logo {
          width: 190px;
          height: 190px;
          position: absolute;
        }
        &:hover .image-logoGif {
          opacity: 1;
        }
        &:hover .image-logo {
          opacity: 0;
        }
      }
    }
  }
}
