footer {
  position: relative;
  padding: 50px 80px;
  background-color: $footer-background;
  width: calc(100% + 50px);

  @include flex(space-between, unset);

  .footer-logo {
    @include flex(center, unset);

    img {
      width: 155px;
      height: 155px;
      object-fit: cover;
      transform: translateY(-45px);
    }
    h4 {

      font-size: $big-size;
      color: $white-color;
      margin-left: 5px;
      margin-top: 10px;
      transform: translateX(-30px) translateY(10px);
    }
  }
  .footer-function {
    position: relative;
    display: grid;
    gap: 20px;
    .footer-function__title {
      font-size: $normal-size;
      color: $white-color;
      font-weight: $big-weight;
    }
    .footer-function__item {
      font-size: $small-size;
      color: $text-description-color;
      font-weight: $normal-weight;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $white-color;
      }
    }
  }
  .footer-contact {
    position: relative;
    .footer-contact__email {
      position: relative;
      h5 {
        font-size: $normal-size;
        color: $white-color;
        font-weight: $big-weight;
      }
      .footer-email__input {
        @include flex(center, center);
        position: relative;
        margin-top: 20px;
        svg {
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          color: $white-color;
          width: 30px;
          height: 30px;
        }
        .MuiButtonBase-root {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          color: $violet-color;
          font-size: $small-size;
          font-weight: $big-weight;
          background-color: $blue-background;
        }

        .MuiInputBase-root {
          width: 400px;
          border-radius: $big-radius;
          background-color: $white-background;
          font-size: $normal-size;
          color: $white-color;

          .MuiInputBase-input {
            border-color: $white-color;
            padding-left: 55px;
            padding-right: 140px;
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }
    }
    .footer-contact__media {
      position: relative;

      h5 {
        font-size: $normal-size;
        color: $white-color;
        font-weight: $big-weight;
        margin-top: 70px;
      }

      .footer-media__container {
        position: relative;
        @include flex(unset, center);
        gap: 15px;
        margin-top: 20px;

        svg {
          width: 30px;
          height: 30px;
          color: $border-color;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $white-color;
          }
        }
      }
    }
  }
}
