header {
  width: 280px;
  // padding: 15px 0;
  box-shadow: $box-shadow;
  transition: width 0.2s ease-in-out;
  position: relative;

  &:hover {
    box-shadow: $box-shadow-normal;
  }
  .header-container {
    overflow: hidden;
    position: relative;
    @include flex(space-between, center);
    flex-direction: column;
    height: calc(100vh - 50px) !important;
    z-index: 5;
    overflow: hidden;
    background-color: $white-color;
    .header-top {
      position: relative;

      .header-logo {
        @include flex(center, center);
        gap: 10px;
        margin-bottom: -60px;
        transform: translateY(-35px);

        img {
          width: 155px;
          height: 155px;
          object-fit: cover;
        }
        .logo-content {
          display: flex;
          flex-direction: column;
          gap: 5px;
          transform: translateX(-45px) translateY(-5px);

          h3 {
            font-weight: $bigger-weight;
            font-size: $normal-size;
          }
          p {
            color: $text-small-color;
            font-size: $small-size;
            white-space: nowrap;
          }
        }
      }

      .header-profile {
        @include flex(center, center);
        margin-top: 30px;
        gap: 10px;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          cursor: pointer;
          border-radius: 50%;
          overflow: hidden;
        }
        .header-profile__information {
          h3 {
            font-size: $normal-size;
            font-weight: $bigger-weight;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            font-size: $smaller-size;
            color: $text-description-color;
            font-weight: $normal-weight;
          }
        }
      }
    }

    .header-body {
      width: 220px;
      display: grid;
      gap: 20px;
      background-color: $white-color;

      nav {
        padding: 20px;
        position: relative;
        box-shadow: $box-shadow;
        border-radius: $normal-radius;

        li {
          padding: 8px 0;

          .nav-link {
            color: $menu-color;
            width: 100%;
            @include flex(unset, center);
            gap: 15px;
            transition: all 0.2s ease-in-out;

            span {
              font-weight: $normal-weight;
              font-size: $small-size;
              transition: all 0.3s ease-in-out;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 126px;
            }

            &.active {
              color: $black-color;
              span {
                letter-spacing: 1.1px;
                font-weight: $big-weight;
              }
            }
          }

          &:hover {
            .nav-link {
              color: $black-color;

              span {
                letter-spacing: 1.1px;
                font-weight: $big-weight;
              }
            }
          }
        }
      }
      .change-language {
        padding: 20px;
        position: relative;
        box-shadow: $box-shadow;
        border-radius: $normal-radius;
        margin-top: 10px;
        z-index: 9;

        .change-language__origin {
          width: 100%;
          padding: 10px 20px;
          border: 1px solid $border-color;
          text-align: center;
          border-radius: $normal-radius;
          overflow: hidden;
          cursor: pointer;
          font-size: $small-size;
          font-weight: $normal-weight;
          position: relative;
          transition: all 0.2s ease-out;
          @include flex(center, center);
          gap: 10px;

          svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: $border-button-color;
          }

          &:hover {
            border-color: $border-button-color;
          }
          img {
            width: 22px;
            height: 14px;
            object-fit: cover;
          }
        }

        .change-language__selected {
          width: calc(100% - 40px);
          position: absolute;
          top: 70px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: $small-radius;
          background-color: $white-color;
          padding: 5px 0;
          border: 1px solid #eaeaea;
          display: none;

          &.active {
            display: block;
          }

          .language-selected__item {
            border-radius: $small-radius;
            padding: 8px 10px;
            cursor: pointer;
            font-size: $small-size;
            font-weight: $normal-weight;
            @include flex(unset, center);
            gap: 10px;
            img {
              width: 22px;
              height: 14px;
              object-fit: cover;
            }
            &:hover {
              background-color: $text-description-color;
            }

            &.active {
              background-color: $pink-background;
            }

            &.hide {
              @include flex(center, center);
            }
          }
        }
      }
    }
    .header-bottom {
      position: relative;
      @include flex(center, unset);
      width: 220px;
      padding: 20px;
      border-radius: $big-radius;
      height: 170px;
      .header-bottom__content {
        h3 {
          font-size: $normal-size;
          font-weight: $bigger-weight;
          color: $violet-color;
          margin-top: 10px;
          cursor: pointer;
        }

        p {
          font-size: $smaller-size;
          margin-top: 8px;
          font-weight: $smaller-weight;
        }
      }
      .header-bottom__image {
        position: relative;
        width: 80px;
        height: 250px;
        img {
          position: absolute;
          left: -45px;
          top: -50px;
          width: 100px;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }

  .logout {
    @include flex(center, center);
    .MuiButtonBase-root {
      width: 100%;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .header-hide {
    position: absolute;
    top: 70px;
    right: -10px;
    z-index: 4;
    transition: all 0.3s ease-in-out;

    &:hover {
      right: -50px;
      animation: none;
    }

    .MuiButtonBase-root {
      background: $liner-background;
      padding: 7px 0px;
      min-width: 50px;
    }
  }

  &.hide {
    width: 90px;
    .header-logo {
      .logo-content {
        display: none !important;
      }
    }

    .header-profile {
      h3,
      span {
        display: none;
      }
    }

    .header-body {
      width: 100%;
      nav {
        box-shadow: unset;
        li {
          text-align: center;
          a {
            display: inline-block !important;
            span {
              display: none;
            }
          }
        }
      }
    }

    .change-language {
      box-shadow: unset !important;
    }

    .header-bottom {
      opacity: 0;
      pointer-events: unset;
    }
  }
}
