.informate {
  max-height: 400px;
  overflow-y: scroll;
  width: 400px;
  padding: 0;

  &::-webkit-scrollbar {
    width: 4px;
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }
  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $liner-background;
    outline: 1px solid slategrey;
    border-radius: $normal-radius;
    overflow: hidden;
    cursor: pointer;
  }

  .not-informate {
    padding: 50px 0;
    @include flex(center, center);
    gap: 10px;
    span {
      font-size: $normal-size;
      font-weight: $normal-weight;
      color: $title-filter-color;
      font-style: oblique;
    }
  }
}

#menu-formate {
  .MuiList-root {
    padding: 0;
  }
}
