.informate-item {
  position: relative;
  @include flex(unset, center);
  gap: 10px;
  padding: 10px 20px;
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: #e8e7e7a7;
  }

  &.new {
    background-color: #dedbdba7;

    &:hover {
      background-color: #bad7edaf;
    }

    span {
      color: #000 !important;
    }
    h4 {
      color: $title-filter-color;
    }
  }

  .informate-item__context {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include flex(flex-start, unset);
    gap: 5px;
    flex-direction: column;
    .informate-context {
      @include flex(space-between, center);
      width: 100%;
      overflow: hidden;
      h4 {
        font-size: $small-size;
        font-weight: $big-weight;
        overflow: hidden;
        white-space: nowrap;
        width: 180px;
        text-overflow: ellipsis;
      }
      span {
        font-size: $smaller-size;
        font-weight: $small-weight;
        color: $text-description-color;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
      }
    }
  }
}
