.option-modal {
  padding: 0;
  width: 300px;
  @include flex(flex-start, center);
  flex-direction: column;
  img {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }

  span {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    padding: 20px 5px 20px 5px;
    font-size: 18px;
    font-weight: 600;
  }
  .option-modal__btn {
    width: 100%;
    padding: 0 20px;
    @include flex(space-around, center);
    .MuiButtonBase-root {
      width: 40%;
      height: 40px;
      background-color: #1bf1b4;
      &:nth-child(1) {
        background-color: #fe6888;
      }
    }
  }
}
