#contract {
  position: relative;
  padding: 20px 0;

  .contract-header {
    padding: 20px 0;
    border-bottom: 1px solid $border-color;
    h3 {
      font-size: $big-size;
      font-weight: $normal-weight;
      color: $title-filter-color;
    }
  }

  .contract-main {
    position: relative;
    margin-top: 30px;

    .contract-filter {
      position: relative;
      @include flex(unset, center);
      gap: 25px;
      flex-wrap: wrap;

      .contract-filter__search {
        @include flex(unset, center);
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
          color: #9d9bb9;
        }
        .MuiInputBase-input {
          padding: 12px 20px;
          font-size: $normal-size;
          padding-left: 50px;
          border-radius: $normal-radius;
          width: 350px;
        }
        .MuiOutlinedInput-notchedOutline {
          border-radius: $normal-radius;
        }
      }

      .contract-filter__time {
        position: relative;
        @include flex(unset, center);

        & > svg,
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }

        span {
          left: 50px;
          white-space: nowrap;
          font-size: $normal-size;
        }
        .MuiInputBase-root {
          width: 205px;
          font-size: $small-size;
          padding: 8.5px 20px;
          padding-left: 110px;
          color: $title-filter-color;

          .MuiAutocomplete-input {
            padding-bottom: 2px;
          }
        }
        .MuiOutlinedInput-notchedOutline {
          top: 0;
          border-radius: $normal-radius;
        }
      }

      .contract-filter__price {
        position: relative;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }
        .MuiInputBase-root {
          width: 190px;
          font-size: $small-size;
          padding: 8.5px 20px;
          padding-left: 60px;
          color: $title-filter-color;

          .MuiAutocomplete-input {
            padding-bottom: 2px;
          }
        }
        .MuiOutlinedInput-notchedOutline {
          top: 0;
          border-radius: $normal-radius;
        }
      }
    }

    .contract-category {
      position: relative;
      margin-top: 15px;
      .contract-category__header {
        @include flex(unset, center);
        gap: 10px;
      }
      .contract-category__btn {
        @include flex(unset, center);
        height: 0px;
        margin-top: 10px;
        overflow: hidden;
        transition: all 0.2s ease;
        gap: 20px;

        .MuiButtonBase-root {
          border-radius: $normal-radius;
          border-width: 2px;
          border-color: $border-button-color;
          color: $border-button-color;

          &.active{
            background-color: #cacaccb7;
            color: #fff;
          }
        }

        &.active {
          height: 50px;
        }
      }
    }

    .contract-list {
      position: relative;
      margin-top: 30px;
      padding: 20px 0;
      border-top: 1px solid $border-color;

      .contract-list__total {
        @include flex(unset, center);

        h5 {
          font-size: $small-size;
          font-weight: $big-weight;
          color: $title-normal-color;
        }

        span {
          font-size: $smaller-size;
          font-weight: $normal-weight;
          color: $text-description-color;
          margin-left: 10px;
        }
      }

      .contract-list__item {
        position: relative;
        padding: 20px 0;
      }
    }
    .contract__pagination {
      width: 100%;
      @include flex(flex-end, center);
    }
  }
}
