.end-contract {
  position: relative;
  h4 {
    font-size: $big-size;
    font-weight: $big-weight;
    text-align: center;
    margin-top: 5px;
  }

  p {
    margin-top: 10px;
    font-size: $small-size;
    font-weight: $big-weight;
    color: $title-normal-color;
  }

  span {
    &.des {
      font-size: $smaller-size;
      font-weight: $small-weight;
      color: $text-description-color;
      font-style: italic;
    }
  }

  .MuiInputBase-input {
    padding: 10px 18px !important;
    font-size: $small-size;
  }

  .end-contract__btn {
    @include flex(flex-end, center);
    margin-top: 20px;
    gap: 10px;

    .MuiButtonBase-root {
      background: $liner-background;
    }
  }
}
