.extend-contract {
  position: relative;
  .extend-contract__title {
    text-align: center;
    h4 {
      font-size: $big-size;
      font-weight: $big-weight;
      color: $title-filter-color;
    }
    span {
      font-size: $smaller-size;
      font-weight: $normal-weight;
      color: $text-description-color;

      u {
        font-weight: $big-weight;
        font-style: italic;
      }
    }
  }
  .extend-contract__main {
    position: relative;
    h4 {
      margin-top: 20px;
      font-size: $normal-size;
      font-weight: $big-weight;
    }

    .extend-infor {
      position: relative;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .extend-infor__item {
        @include flex(unset, center);
        h5,
        span {
          font-size: 15px;
          font-weight: $small-weight;
          &.note {
            color: red;
            margin-left: 5px;
          }
        }

        h5 {
          width: 190px;
        }
      }
    }
  }

  .extend-contract__btn {
    @include flex(flex-end, unset);
    margin-top: 20px;
    gap: 15px;
  }
}
