.history-contract {
  position: relative;
  max-height: 550px;
  overflow-y: scroll;
  padding: 0 40px;

  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: $big-size;
    font-weight: $big-weight;
  }

  &::-webkit-scrollbar {
    width: 4px;
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }
  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $liner-background;
    outline: 1px solid slategrey;
    border-radius: $normal-radius;
    overflow: hidden;
    cursor: pointer;
  }

  .history-contract__list {
    position: relative;
    display: block;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $border-color;
    }
    .item-history {
      position: relative;
      display: block;
      padding-left: 10px;
      padding-bottom: 20px;
      @include flex(unset, flex-start);
      gap: 10px;

      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: $normal-radius;
      }

      .header {
        @include flex(unset, center);
        gap: 8px;
        position: relative;
      }
      span {
        &.type {
          text-transform: capitalize;
          font-size: $normal-size;
          font-weight: $normal-weight;
        }

        &.status {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          cursor: pointer;

          &.complete {
            background: rgb(107, 235, 107);
          }
          &.wait {
            background: rgb(228, 228, 82);
          }
          &.failed {
            background: rgb(188, 78, 78);
          }
        }

        &.infor {
          font-size: $smaller-size;
          font-weight: $normal-weight;
          color: $title-filter-color;
          display: block;
        }

        &.date {
          font-size: $smaller-size;
          font-weight: $normal-weight;
          color: $text-description-color;
          @include flex(unset, center);
          gap: 3px;
          margin-top: 5px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 0px;
        left: -5px;
        background-color: $border-color;
      }
    }
  }
}

.not-history-contract {
  font-size: $normal-size;
  font-weight: $normal-weight;
  color: $title-filter-color;
}
