.item-contract {
  position: relative;
  transition: all 0.2s ease-in;
  @include flex(space-between, center);
  border-radius: $normal-radius;
  overflow: hidden;
  background-color: $pink-background;
  padding: 10px 15px;
  padding-bottom: 15px;
  margin: 15px 0;
  &:hover {
    box-shadow: $box-shadow-normal;
  }

  .item-contract__infor {
    position: relative;
    @include flex(unset, center);
    gap: 20px;
    .item-contract__img {
      position: relative;
      span {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &.active {
          background-color: rgb(100, 237, 100);
        }
        &.wait {
          background-color: rgb(212, 237, 100);
        }
        &.complete,
        &.end {
          background-color: rgb(129, 133, 132);
        }
        &.cancel {
          background-color: rgb(237, 139, 100);
        }
        &.inactive {
          background-color: rgb(237, 139, 100);
        }
      }
      img {
        width: 90px;
        height: 95px;
        object-fit: cover;
        border-radius: $normal-radius;
        overflow: hidden;
        box-shadow: $box-shadow;
      }
    }

    .item-infor {
      position: relative;
      @include flex(unset, flex-start);
      flex-direction: column;
      gap: 10px;

      .item-infor_status {
        @include flex(unset, center);
        gap: 10px;
      }

      h5 {
        font-size: $small-size;
        color: $title-normal-color;
      }

      span {
        @include flex(unset, center);
        gap: 5px;
        font-size: $smaller-size;
        color: $text-description-color;
      }
      .item-infor__content {
        @include flex(unset, center);
        gap: 10px;
        span {
          border-radius: 5px;
          background-color: #fff;
          color: #476285;
          font-size: 12px;
          font-weight: 500;
          padding-top: 3px;
          padding-bottom: 3px;
          padding: 2px 10px;
          box-shadow: $box-shadow-normal;
        }
      }
    }
  }
  .item-contract__status {
    @include flex(unset, flex-end);
    flex-direction: column;
    gap: 10px;

    .item-function {
      @include flex(unset, center);
      gap: 10px;
      .MuiButtonBase-root {
        border-width: 2px;
        border-color: $border-color;
        color: $title-normal-color;
        border-radius: $normal-radius;
        font-size: $smaller-size;
        font-weight: $normal-weight;
        padding: 4px 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #476285;
          color: #fff;
        }
      }
    }

    .item-function__time {
      position: absolute;
      bottom: 15px;
      right: 20px;
      @include flex(unset, center);
      gap: 3px;
      font-size: $smaller-size;
      font-weight: $normal-weight;
      color: $title-filter-color;
      u {
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          color: $title-normal-color;
        }
      }
    }
  }
}
