.dialog-payment__container {
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid $border-color;
  padding: 12px 20px;
  border-radius: $normal-radius;
  width: 500px;
  .card-payment {
    @include flex(unset, center);
    gap: 15px;

    img {
      width: 40px;
      height: 50px;
      object-fit: cover;
    }
    .card-payment__container {
      position: relative;
      h3 {
        font-size: $small-size;
      }

      .card-payment__header {
        @include flex(unset, center);
        gap: 10px;
        h3 {
          color: $title-normal-color;
        }
        span {
          padding: 4px 8px;
          border-radius: $small-radius;
          font-size: $smaller-size;
          background: $liner-background;
          color: $white-color;
          font-weight: $normal-weight;
          line-height: $smaller-size;
        }
      }
      .card-payment__infor {
        @include flex(unset, center);
        margin-top: 5px;
        gap: 15px;
        h3 {
          font-weight: $small-weight;
          color: #64609f;
        }
      }
    }
  }
}

.dialog-listPayment {
  padding: 20px 25px;
  padding-top: 0px;
}

.card-payment__add {
  margin-top: 20px;

  .MuiButtonBase-root {
    padding: 12px 20px;
    width: 100%;
    font-size: $small-size;
  }
}
