.main-payment {
  position: relative;
  padding-right: 20px;
  #payment {
    padding: 50px 0;
    @include flex(space-between, unset);

    .payment-left {
      position: relative;
      & > h2 {
        font-size: $big-size;
        font-weight: $big-weight;
        color: $title-filter-color;
      }
      .payment-left__bank,
      .payment-left__infor,
      .payment-left__contract {
        margin-top: 20px;
        h4 {
          font-size: $normal-size;
          color: $title-normal-color;
          margin-bottom: 10px;
        }

        li {
          cursor: unset;
          display: grid;
          gap: 0px;
          grid-template-columns: 140px 1fr;
          font-size: $small-size;
          color: $text-small-color;
          position: relative;
          padding-left: 20px;
          margin-bottom: 8px;
          font-weight: $normal-weight;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $text-small-color;
          }

          span {
            font-weight: $big-weight;
          }
        }
      }
      .payment-left__contract {
        li {
          grid-template-columns: 1fr;
        }
      }
    }
    .payment-right {
      position: relative;
      width: 320px;
    }
  }
}
