#preview-contract {
  position: relative;
  .payment-right__header {
    @include flex(space-between, center);
    margin-top: 10px;
    h4 {
      font-size: $normal-size;
      color: $title-normal-color;
    }
    a {
      cursor: pointer;
      font-weight: $big-weight;
    }
  }
  .payment-right__description {
    position: relative;
    margin-top: 10px;
    span {
      font-size: $small-size;
      color: $text-description-color;
      margin-bottom: 10px;
      display: block;
    }
    ul {
      li {
        padding-left: 20px;
        color: $text-small-color;
        margin-bottom: 5px;
        font-size: $small-size;
        cursor: unset;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          background-color: $text-small-color;
          border-radius: 50%;
        }
      }
    }
  }
  .payment-right__information {
    margin-top: 10px;
    @include flex(space-between, center);
    font-size: $small-size;
    color: $text-description-color;
    p {
      color: $text-small-color;
      font-weight: $normal-weight;
    }
  }
  .payment-right__money {
    margin-top: 25px;
    padding: 25px 0;
    border-top: 1px solid $border-color;
    @include flex(space-between, center);

    span {
      font-size: $normal-size;
      color: $title-normal-color;
      font-weight: $big-weight;
    }
    p {
      color: $border-button-color;
    }
  }
  .payment-right__confirm {
    @include flex(center, center);

    .MuiFormControlLabel-root {
      margin: unset;
      gap: 10px;
      color: $text-small-color;
    }
  }
  .payment-btn {
    position: relative;
    margin-top: 20px;

    .MuiButtonBase-root {
      width: 100%;
      padding: 13px 20px;
      font-size: $normal-size;
      border-radius: $normal-radius;
      font-weight: bold;
      background: $liner-background;
      &:disabled {
        color: rgb(255, 255, 255, 0.8);
      }
    }
  }
  & > p {
    margin-top: 20px;
    text-align: center;
    color: #8395af;
    font-weight: $normal-weight;

    a {
      cursor: pointer;
      color: $color-checkbox;
    }
  }
  .payment-right__media {
    position: relative;
    @include flex(space-around, center);
    margin-top: 20px;
    gap: 10px;
    .payment-media__btn {
      @include flex(center, center);
      flex-direction: column;
      gap: 5px;

      .MuiButtonBase-root {
        svg {
          font-size: 28px;
          color: $text-small-color;
        }
        border: 1px solid $text-small-color;
      }

      span {
        font-size: $small-size;
        color: $text-small-color;
      }
    }
  }
}
