.not-found {
  position: relative;
  width: 100%;
  @include flex(center, center);
  flex-direction: column;

  img {
    width: 60%;
    object-fit: cover;
  }

  .not-found__content {
    transform: translateY(-100px);
    text-align: center;

    h4 {
      font-size: $bigger-size;
      font-weight: $bigger-weight;
      background: $liner-background;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span {
      font-size: $small-size;
      font-weight: $normal-weight;
      color: $text-description-color;
      font-style: italic;
    }
  }
}
