@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin autoComplete($width, $color, $background-color) {
  .MuiAutocomplete-root {
    width: $width;
    overflow: hidden;

    .MuiInputBase-root {
      border-radius: $normal-radius;
      padding: 3px 15px;
      padding-right: 60px;
      background-color: $background-color;
      font-size: $normal-size;
      color: $color;
      font-weight: $normal-weight;
      &:hover {
        .MuiOutlinedInput-notchedOutline {
          border-color: unset;
        }
      }
    }
  }
}
