// color
$white-color: #fff;
$violet-color: #27104e;
$black-color: #000;
$yellow-color: #f3d127ba;
$title-big-color: #21204a;
$title-normal-color: #11315b;
$title-filter-color: #476285;
$text-small-color: #6e84ab;
$text-description-color: #a3a5a8;
$menu-color: #787486;
$border-color: #bdcadb;
$border-button-color: #6692cc;
$placeholder-color: #d6dbe7;
$star-color: #e4da24;
$green-color: #26bf66;
$red-color: rgb(220, 46, 46);

// background
$footer-background: #21204a;
$pink-background: #edf9fb;
$pink-background-hover: #d9f5fa;
$violet-background: #9854cb;
$liner-background: linear-gradient(220deg, #0698f9 13.5%, #f906f9 87.25%);
$blue-background: #cde2fe;
$gray-background: #eceef0;
$white-background: #d7d6dc33;
$color-checkbox: #1b5198;
$color-border-checkbox: #9291a1;
$member-background: #edf2ff;

// font size
$biggest-size: 46px;
$bigger-size: 32px;
$big-size: 22px;
$normal-size: 17px;
$small-size: 15px;
$smaller-size: 13px;
$smallest-size: 12px;

// font weight
$bigger-weight: 800;
$big-weight: 700;
$normal-weight: 500;
$small-weight: 400;
$smaller-weight: 300;

// border-radius
$big-radius: 16px;
$normal-radius: 12px;
$small-radius: 4px;

// box-shadow

$box-shadow: rgba(162, 162, 162, 0.2) 0px 1px 4px 0px;
$box-shadow-normal: rgba(0, 0, 0, 0.1) 0px 10px 50px;
$box-shadow-hover: rgb(61, 65, 75) 0px 10px 10px -10px;
