@import "./variable";
@import "./mixin";

@import "../modules/assets/styles/index";
@import "../common/assets/styles/index";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: $normal-size;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: $white-color;
  // padding: 5px 0;
  padding-bottom: 0px;
}

main {
  display: flex;
  position: relative;
  height: 100%;
  // background-color: rgba(249, 249, 249, 0.9);
}

li {
  list-style: none;
  cursor: pointer;
}

a,
link {
  text-decoration: none;
}

img {
  pointer-events: none;
}

.avatar {
  width: 45px;
  height: 45px;
  object-fit: contain;
}
.container-error {
  p {
    color: red !important;
    font-weight: 400 !important;
    font-size: 12px !important;
  }
}
